<template>

  <div>

    <div class="row header">
      <div class="col-10 col-sm-10">
        <h3 class="mb-4">
          {{ $t('timer') }} / {{ $t('import_from_toggl') }}
        </h3>
      </div>
      <div class="col-2 col-sm-2 text-right menu-upright">

        <router-link :to="{ name: 'hours' }" class="ml-3">
          <h2>
            <BIconArrowLeftCircleFill variant="secondary"/>
          </h2>
        </router-link>

      </div>
    </div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <card>

          <b-form @submit="onSubmit" class="m-5">

            <div class="row mb-4">
              <div class="col-12 text-right">
                <b-button variant="outline-danger" size="lg" class="w-100" @click="importTogglHours()">{{ $t('force_reload') }}</b-button>
              </div>
            </div>

            <div v-if="!loadedHours">
              <div class="spinner-border text-secondary" role="status"></div>
            </div>

            <div v-else>

              <div v-if="!hoursAdded">

                <div v-for="(item, index) in hours" :index="parseInt(index)" :key="parseInt(index)" :value="item" class="row slot-timer">
                  <div class="col-4 col-md-2">
                    <b-form-checkbox
                      :id="('checkbox-'+item.id)"
                      v-model="item.selected"
                      value="1"
                      unchecked-value="0"
                    >
                      {{ item.id }}
                    </b-form-checkbox>
                  </div>
                  <div class="col-8 col-md-4">{{ item.name }}</div>
                  <div class="col-10 col-md-2">
                    {{ item.start_show }}<br/>
                    {{ item.end_show }}<br/>
                  </div>
                  <div class="col-2 col-md-1">{{ item.hours_show }}</div>
                  <div class="col-12 col-md-3">
                    <b-form-select @change="selectThis(index)" v-model="item.project_id" :options="projects" value-field="id" text-field="name" size="lg"></b-form-select>
                  </div>
                </div>

                <b-button size="lg" type="submit" variant="primary">{{ $t('import_hours') }}</b-button>

              </div>

              <div v-else>
                <b-alert show>{{ $t('hours_succesfully_added') }}</b-alert>
              </div>

            </div>


          </b-form>

      </card>

    </div>

  </div>

</template>

<script>
export default {
  middleware: 'auth',

  data: () => ({
    loaded: false,
    loadedHours: false,
    hoursAdded: false,
    hours: [],
    projects: [],
    sortBy: 'end',
    sortDesc: true,
    togglColumnsShow: [
      { key: 'id', sortable: true },
      { key: 'name', sortable: true },
      { key: 'start_show', sortable: true, label: 'Start' },
      { key: 'end_show', sortable: true, label: 'End' },
      { key: 'hours_show', sortable: true, label: 'Hours'  },
    ],
    selectMode: 'multi',
  }),

  computed: {
    token_toggl () {
      return this.$store.state.auth.user.token_toggl
    }
  },

  mounted () {
    this.importTogglHours()
  },  

  methods: {

    importTogglHours() {

      this.loaded = false
      this.loadedHours = false
  
      var that = this
        axios
        .all([
          axios.get('/api/int/toggl/import-hours'),
          axios.get('/api/fetch/projects'),
          ])
            .then(
            axios.spread(
              function (toggl, project) {
                that.loaded = true
                that.loadedHours = true
                that.toggl = toggl.data.data
                that.hours = Object.values(toggl.data.data)
                that.projects = project.data.data
              }
        ))

    },

    selectThis(index) {
      this.hours[index].selected = 1;
    },

    onSubmit(evt) {
      evt.preventDefault()

      var that = this
      axios
      .all([
        axios.post(['/api/hours/add'], {hours:that.hours}),
        ])
          .then(
          axios.spread(
            function (hours) {
              that.hoursAdded = true
            }
      ))

    },

  }

}
</script>


<style lang="scss">
.slot-timer {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
</style>
