<template>

  <div>

    <div class="row header">
      <div class="col-10 col-sm-10">
        <h3 class="mb-4">
          {{ $t('projects') }} / {{ project.name }} / {{ $t('import_from_toggl') }}
        </h3>
      </div>
      <div class="col-2 col-sm-2 text-right menu-upright">

        <router-link :to="{ name: 'project.hours', params: { id: projectId } }" class="ml-3">
          <h2>
            <BIconArrowLeftCircleFill variant="secondary"/>
          </h2>
        </router-link>

      </div>
    </div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <card>

          <b-form @submit="onSubmit" class="m-5">

            <div class="row">
              <div class="col-12 col-md-10">
                <b-form-group class="mb-4" :label="$t('project_in_toggl')">
                  <b-form-select @change="loadTogglHours()" v-model="form.toggl_project_id" :options="toggl" value-field="value" text-field="text" size="lg"></b-form-select>
                </b-form-group>
              </div>
              <div class="col-12 col-md-2">
                <b-form-group class="mb-4" :label="$t('force_reload')">
                  <b-button variant="outline-danger" size="lg" class="w-100" @click="loadTogglProjects(1)">{{ $t('force') }}</b-button>
                </b-form-group>
              </div>
            </div>

            <div v-if="(form.toggl_project_id > 0)">

              <div v-if="!loadedHours">
                <div class="spinner-border text-secondary" role="status"></div>
              </div>

              <div v-else>

                <div v-if="!hoursAdded">

                  <b-table
                    ref="selectableTable"
                    selectable
                    :select-mode="selectMode"
                    :items="hours"
                    :fields="togglColumnsShow"
                    @row-selected="onRowSelected"
                    responsive="sm"
                  >
                    <!-- Example scoped slot for select state illustrative purposes -->
                    <template v-slot:cell(selected)="{ rowSelected }">
                      <template v-if="rowSelected">
                        <span aria-hidden="true">&check;</span>
                        <span class="sr-only">Selected</span>
                      </template>
                      <template v-else>
                        <span aria-hidden="true">&nbsp;</span>
                        <span class="sr-only">Not selected</span>
                      </template>
                    </template>
                  </b-table>

                  <b-button size="lg" @click="selectAllRows">{{ $t('select_all') }}</b-button>
                  <b-button size="lg" @click="clearSelected">{{ $t('clear_selected') }}</b-button>
                  <b-button size="lg" v-if="(selected.length>0)" type="submit" variant="primary">{{ $t('import_hours') }}</b-button>

                </div>

                <div v-else>
                  <b-alert show>{{ $t('hours_succesfully_added') }}</b-alert>
                </div>

              </div>

            </div>

            <div v-else>
              <b-alert show>{{ $t('toggl_select_project') }}</b-alert>
            </div>

          </b-form>

      </card>

    </div>

  </div>

</template>

<script>
export default {
  middleware: 'auth',

  data: () => ({
    loaded: false,
    loadedHours: false,
    hoursAdded: false,
    projectId: false,
    form: {
      projectId: null,
      toggl_project_id: 0,
      toggl_client_id: 0,
    },
    hours: [],
    toggl: [],
    project: [],
    sortBy: 'end',
    sortDesc: true,
    togglColumnsShow: ['id', 'name', 'start_show', 'end_show', 'hours'],
    selectMode: 'multi',
    selected: []
  }),

  computed: {
    token_toggl () {
      return this.$store.state.auth.user.token_toggl
    }
  },

  mounted () {
    if (this.$route.params.id) this.projectId = this.$route.params.id;
    this.loadTogglProjects(0)
  },  

  methods: {

    loadTogglProjects(force) {

      this.loaded = false
      var that = this
        axios
        .all([
          axios.get(['/api/int/toggl/projects/'+force]),
          axios.get(`/api/projects/`+that.projectId),
          ])
            .then(
            axios.spread(
              function (toggl, project) {
                that.loaded = true
                that.toggl = toggl.data.data
                that.project = project.data.data
                that.form.toggl_project_id = that.project.toggl_id
                that.form.projectId = that.projectId
                that.init()
              }
        ))

    },

    init() {
      if (this.form.toggl_project_id > 0) this.loadTogglHours()
    },

    loadTogglHours() {

      var that = this
      that.loadedHours = false
      that.hoursAdded = false

      axios
      .all([
        axios.post(['/api/int/toggl/hours'], {form:that.form}),
        ])
          .then(
          axios.spread(
            function (hours) {
              that.loadedHours = true
              that.hours = Object.values(hours.data.data)
              that.selectAllRows()
            }
      ))

    },

    onRowSelected(items) {
      this.selected = items
    },
    selectAllRows() {
      this.$refs.selectableTable.selectAllRows()
    },
    clearSelected() {
      this.$refs.selectableTable.clearSelected()
    },

    onSubmit(evt) {
      evt.preventDefault()

      var that = this
      axios
      .all([
        axios.post(['/api/hours/add'], {hours:that.selected}),
        ])
          .then(
          axios.spread(
            function (hours) {
              that.hoursAdded = true
            }
      ))

    },

  }

}
</script>


<style lang="scss">

</style>
