<template>

  <div>

    <div class="row header">
      <div class="col-12 col-sm-6">
        <h3 class="mb-4">
          {{ $t('timer_title') }} / {{ $t('all') }}
        </h3>
      </div>
      <div class="col-12 col-sm-6 text-right menu-upright">

        <router-link :to="{ name: 'hours' }" class="ml-3">
          <h2>
            <BIconArrowLeftCircle variant="secondary"/>
          </h2>
        </router-link>

      </div>
    </div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <card>

        <b-table
          id="hours-list"
          :items="items"
          :fields="fields"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          responsive="sm"
        ></b-table>

        <b-pagination
          v-model="items"
          :total-rows="items.length"
          :per-page="perPage"
          aria-controls="hours-list"
        ></b-pagination>
        
      </card>

    </div>

    <b-modal centered id="add-from-toggl" :title="$t('import_from_toggl')">
      <div class="my-4">
        <TogglImport></TogglImport>
      </div>
    </b-modal>

    <b-modal ref="modalHours" centered id="add-time-entry" :title="$t('add_time_entry')" ok-only ok-variant="secondary" :ok-title="$t('cancel')">

      <b-form @submit="onSubmit" class="m-1">

        <div class="row mb-4">

          <div class="col-12">
            <b-form-group class="mb-4" :label="$t('project')">
              <b-form-select @change="loadTogglHours()" v-model="form.project_id" :options="projects" value-field="id" text-field="name" size="lg"></b-form-select>
            </b-form-group>
          </div>

          <div class="col-12">
            <b-form-group class="mb-4" :label="$t('task_name')">
              <b-form-input size="lg" v-model="form.name" required></b-form-input>
            </b-form-group>
          </div>

          <div class="col-6 col-md-6">
            <b-form-group class="mb-4" :label="$t('date')">
              <date-picker v-model="form.start" required type="datetime" format="YYYY-MM-DD HH:mm"></date-picker>
            </b-form-group>
          </div>

          <div class="col-6 col-md-6">
            <b-form-group class="mb-4" :label="$t('duration')">
              <b-form-input type="number" v-model="form.minutes" required></b-form-input>
            </b-form-group>
          </div>

          <div class="col-12">
            <b-form-checkbox v-model="form.billable" value="1" unchecked-value="0">
              {{ $t('billable') }}
            </b-form-checkbox>
          </div>

        </div>

        <b-button size="lg" type="submit" variant="primary">{{ $t('add_time_entry') }}</b-button>

      </b-form>

    </b-modal>

  </div>

</template>

<script>
import TogglImport from './integrations/TogglImport.vue';

export default {
  middleware: 'auth',

  components: {
    TogglImport,
  },
  
  data: () => ({
    loaded: false,
    form: {
      id: null,
      project_id: null,
      name: null,
      start: null,
      minutes: 60,
      billable: 0,
    },
    items: [],
    hours: [],
    projects: [],
    sortBy: 'end',
    sortDesc: true,
    perPage: 25,
    currentPage: 1,
    fields: [
      { key: 'name', sortable: true },
      { key: 'project', sortable: true },
      { key: 'start_show', sortable: true, label: 'Start' },
      { key: 'end_show', sortable: true, label: 'End' },
      { key: 'hours_show', sortable: true, label: 'Hours'  },
      { key: 'billable', sortable: true },
    ],
  }),

  computed: {
    token_toggl () {
      return this.$store.state.auth.user.token_toggl
    }
  },

  mounted () {

    this.$root.$on('bv::modal::hide', (bvEvent, modalId) => {
      this.loadTimeEntries();
    })

    if (this.$route.params.id) this.projectId = this.$route.params.id;

    this.loadTimeEntries()

  },  

  methods: {

    loadTimeEntries() {

      this.loaded = false

      var that = this
      axios
      .all([
        axios.get('/api/fetch/hours'),
        axios.get('/api/fetch/projects'),
        ])
          .then(
          axios.spread(
            function (hours, projects) {
              that.hours = hours.data.data
              that.projects = Object.values(projects.data.data)
              that.init()
            }
      ))

    },

    init() {
      this.items = Object.values(this.hours)
      this.loaded = true
    },

    onSubmit(evt) {
      evt.preventDefault()

      var that = this
      axios
      .all([
        axios.post(['/api/hours/add'], {hours:Object.values([that.form])}),
        ])
          .then(
          axios.spread(
            function (hours) {
              that.loadTimeEntries() 
            }
      ))


    },

  }

}
</script>


<style lang="scss">

</style>
