<template>

  <div>

    <div class="row header">
      <div class="col-12 col-md-3">
        <h3 class="mb-4">
          {{ $t('timer_title') }}
        </h3>
      </div>
      <div class="col-12 col-md-9 text-right menu-upright">

        <router-link :to="{ name: 'bill.hours' }" class="ml-3" v-if="(unbilled.length > 0)">
          <b-button variant="warning" class="ml-2">
            <BIconExclamationTriangleFill/>
            {{ $t('you_have_pending_hours') }}
          </b-button>
        </router-link>

        <router-link :to="{ name: 'hours.toggl' }" class="ml-3" v-if="token_toggl">
          <b-button variant="outline-danger" class="ml-2">
            <img src="/img/int/toggl_on.svg" class="icon-integration"/>
            {{ $t('import_from_toggl') }}
          </b-button>
        </router-link>

        <b-button variant="outline-success" class="ml-2" v-b-modal.add-time-entry>
          {{ $t('add_time_entry') }}
        </b-button>

      </div>
    </div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <div class="row">        

        <div class="col-12 col-md-3">

            <div class="row mb-4">
              <div class="col-12 mb-2">
                <b-button @click="today()" :pressed="(searchFilters.period == 'today')" variant="outline-info" class="w-100">{{ $t('today') }}</b-button>
              </div> 
              <div class="col-12 col-xl-6 mb-2 xl-pr-2">
                <b-button @click="thisWeek()" :pressed="(searchFilters.period == 'thisWeek')" variant="outline-info" class="w-100">{{ $t('this_week') }}</b-button>
              </div> 
              <div class="col-12 col-xl-6 mb-2">
                <b-button @click="lastWeek()" :pressed="(searchFilters.period == 'lastWeek')" variant="outline-info" class="w-100">{{ $t('last_week') }}</b-button>
              </div>
              <div class="col-12 col-xl-6 mb-2 xl-pr-2">
                <b-button @click="thisMonth()" :pressed="(searchFilters.period == 'thisMonth')" variant="outline-info" class="w-100">{{ $t('this_month') }}</b-button>
              </div>
              <div class="col-12 col-xl-6 mb-2">
                <b-button @click="lastMonth()" :pressed="(searchFilters.period == 'lastMonth')" variant="outline-info" class="w-100">{{ $t('last_month') }}</b-button>
              </div>
              <div class="col-12 mb-2 mb-2">
                <b-button @click="always()" :pressed="(searchFilters.period == 'always')" variant="outline-info" class="w-100">{{ $t('always') }}</b-button>
              </div> 
            </div>

            <div class="row mb-4">
              <div class="col-12 col-md-5 font-bold text-center">
                {{ searchFilters.start_show }} 
              </div>
              <div class="col-12 col-md-2 font-center">
                <BIconArrowLeftRight/>
              </div>
              <div class="col-12 col-md-5 font-bold text-center">
                {{ searchFilters.end_show }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <b-form-group class="mb-4" :label="$t('project')">
                  <b-form-select @change="searchFiltersApply()" v-model="searchFilters.project_id" :options="projects" value-field="id" text-field="name" size="lg">
                    <template v-slot:first>
                      <b-form-select-option :value="null">-</b-form-select-option>
                    </template>
                  </b-form-select>
                </b-form-group>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <b-form-group class="mb-4" :label="$t('client')">
                  <b-form-select @change="searchFiltersApply()" v-model="searchFilters.client_id" :options="clients" size="lg">
                    <template v-slot:first>
                      <b-form-select-option :value="null">-</b-form-select-option>
                    </template>
                  </b-form-select>
                </b-form-group>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <b-form-group class="mb-4" :label="$t('type')">
                  <b-form-select @change="searchFiltersApply()" v-model="searchFilters.billable" size="lg">
                    <b-form-select-option :value="null">-</b-form-select-option>
                    <b-form-select-option :value="1">{{ $t('hours_billable') }}</b-form-select-option>
                    <b-form-select-option :value="0">{{ $t('hours_non_billable') }}</b-form-select-option>
                  </b-form-select>
                </b-form-group>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-12">
                <router-link :to="{ name: 'hours.raw' }">
                  <b-button variant="outline-warning" class="w-100">{{ $t('see_full_list') }}</b-button>
                </router-link>
              </div>
            </div>

        </div>

        <div class="col-12 col-md-9">

          <div class="row">

            <div class="col-12 col-md-4">
              <card class="data-box" :title="$t('hours_total')">
                <div><img src="/img/ico-timer.svg"/></div>
                <div class="lila bold">{{ hours_total }}h</div>
              </card>
            </div>

            <div class="col-12 col-md-4">
              <card class="data-box" :title="$t('hours_billable')">
                <div><img src="/img/ico-timer.svg"/></div>
                <div class="green">{{ hours_billable }}h</div>
              </card>
            </div>

            <div class="col-12 col-md-4">
              <card class="data-box" :title="$t('hours_non_billable')">
                <div><img src="/img/ico-timer.svg"/></div>
                <div class="blue">{{ hours_unbillable }}h</div>
              </card>
            </div>

          </div>

          <b-overlay :show="loadingList" rounded="sm">

            <card :aria-hidden="loadingList ? 'true' : null">

              <div v-if="!loadingList">

                <div v-if="(hours_total > 0)">

                  <b-table
                    id="hours-list"
                    :items="items"
                    :fields="fields"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    responsive="sm"
                  ></b-table>

                  <b-pagination
                    v-model="items"
                    :total-rows="items.length"
                    :per-page="perPage"
                    aria-controls="hours-list"
                  ></b-pagination>

                </div>
                <div v-else>
                  <p class="text-center">{{ $t('no_time_entries_for_criteria') }} </p>
                </div>

              </div>
              
            </card>

          </b-overlay>

        </div>

      </div>

    </div>

    <b-modal centered id="add-from-toggl" :title="$t('import_from_toggl')">
      <div class="my-4">
        <TogglImport></TogglImport>
      </div>
    </b-modal>

    <b-modal ref="modalHours" centered id="add-time-entry" :title="$t('add_time_entry')" ok-only ok-variant="secondary" :ok-title="$t('cancel')">

      <b-form @submit="onSubmit" class="m-1">

        <div class="row mb-4">

          <div class="col-12">
            <b-form-group class="mb-4" :label="$t('project')">
              <b-form-select @change="loadTogglHours()" v-model="form.project_id" :options="projects" value-field="id" text-field="name" size="lg"></b-form-select>
            </b-form-group>
          </div>

          <div class="col-12">
            <b-form-group class="mb-4" :label="$t('task_name')">
              <b-form-input size="lg" v-model="form.name" required></b-form-input>
            </b-form-group>
          </div>

          <div class="col-6 col-md-6">
            <b-form-group class="mb-4" :label="$t('date')">
              <date-picker v-model="form.start" required type="datetime" format="YYYY-MM-DD HH:mm"></date-picker>
            </b-form-group>
          </div>

          <div class="col-6 col-md-6">
            <b-form-group class="mb-4" :label="$t('duration')">
              <b-form-input type="number" v-model="form.minutes" required></b-form-input>
            </b-form-group>
          </div>

          <div class="col-12">
            <b-form-checkbox v-model="form.billable" value="1" unchecked-value="0">
              {{ $t('billable') }}
            </b-form-checkbox>
          </div>

        </div>

        <b-button size="lg" type="submit" variant="primary">{{ $t('add_time_entry') }}</b-button>

      </b-form>

    </b-modal>

  </div>

</template>

<script>
import TogglImport from './integrations/TogglImport.vue'
import startOfWeek from 'date-fns/startOfWeek'
import endOfWeek from 'date-fns/endOfWeek'
import startOfMonth from 'date-fns/startOfMonth'
import endOfMonth from 'date-fns/endOfMonth'
import subWeeks from 'date-fns/subWeeks'
import subMonths from 'date-fns/subMonths'
import parse from 'date-fns/parse'

export default {
  middleware: 'auth',

  components: {
    TogglImport,
  },
  
  data: () => ({
    loaded: false,
    loadingList: true,
    form: {
      id: null,
      project_id: null,
      name: null,
      start: null,
      minutes: 60,
      billable: 0,
    },
    items: [],
    hours: [],
    unbilled: [],
    projects: [],
    clients: [],
    sortBy: 'end',
    sortDesc: true,
    perPage: 25,
    currentPage: 1,
    hours_total: 0,
    hours_billable: 0,
    hours_unbillable: 0,
    fields: [
      { key: 'name', sortable: true },
      { key: 'project', sortable: true },
      { key: 'start_show', sortable: true, label: 'Start' },
      { key: 'end_show', sortable: true, label: 'End' },
      { key: 'hours_show', sortable: true, label: 'Hours'  },
      { key: 'billable', sortable: true },
    ],
    searchFilters: {
      name: '',
      project_id: null,
      client_id: null,
      start: null,
      start_show: null,
      end: null,
      end_show: null,
      billable: null,
      period: null,
    },
    emptyFilters: true,
  }),

  computed: {
    token_toggl () {
      return this.$store.state.auth.user.token_toggl
    }
  },

  mounted () {

    this.$root.$on('bv::modal::hide', (bvEvent, modalId) => {
      this.loadTimeEntries();
    })

    if (this.$route.params.id) this.projectId = this.$route.params.id;

    this.loadTimeEntries()

  },  

  methods: {

    loadTimeEntries() {

      this.loaded = false

      var that = this
      axios
      .all([
        axios.get('/api/billing/hours/unbilled'),
        axios.get('/api/fetch/hours'),
        axios.get('/api/fetch/projects'),
        axios.get('/api/fetch/select/clients'),
        ])
          .then(
          axios.spread(
            function (unbilled, hours, projects, clients) {
              that.unbilled = Object.values(unbilled.data.data)
              that.hours = Object.values(hours.data.data)
              that.items = that.hours
              that.projects = Object.values(projects.data.data)
              that.clients = Object.values(clients.data.data)
              that.init()
            }
      ))

    },

    init() {
      this.thisWeek()
      this.recalculateHours()
      this.loaded = true
    },

    today() {     
      this.searchFilters.start = this.$date(new Date(), "yyyy-MM-dd 00:00:00")
      this.searchFilters.end = this.$date(new Date(), "yyyy-MM-dd 23:59:59")
      this.searchFilters.period = 'today'
      this.searchFiltersApply()
    },

    thisWeek() {
      this.searchFilters.start = this.$date(startOfWeek(new Date(), {weekStartsOn: 1}), "yyyy-MM-dd 00:00:00")
      this.searchFilters.end = this.$date(endOfWeek(new Date(), {weekStartsOn: 1}), "yyyy-MM-dd 23:59:59")
      this.searchFilters.period = 'thisWeek'
      this.searchFiltersApply()
    },

    lastWeek() {
      this.searchFilters.start = this.$date(startOfWeek(subWeeks(new Date(), 1), {weekStartsOn: 1}), "yyyy-MM-dd 00:00:00")
      this.searchFilters.end = this.$date(endOfWeek(subWeeks(new Date(), 1), {weekStartsOn: 1}), "yyyy-MM-dd 23:59:59")
      this.searchFilters.period = 'lastWeek'
      this.searchFiltersApply()
    },

    thisMonth() {
      this.searchFilters.start = this.$date(startOfMonth(new Date()), "yyyy-MM-dd 00:00:00")
      this.searchFilters.end = this.$date(endOfMonth(new Date()), "yyyy-MM-dd 23:59:59")
      this.searchFilters.period = 'thisMonth'
      this.searchFiltersApply()
    },

    lastMonth() {
      this.searchFilters.start = this.$date(startOfMonth(subMonths(new Date(), 1)), "yyyy-MM-dd 00:00:00")
      this.searchFilters.end = this.$date(endOfMonth(subMonths(new Date(), 1)), "yyyy-MM-dd 23:59:59")
      this.searchFilters.period = 'lastMonth'
      this.searchFiltersApply()
    },

    always() {
      this.searchFilters.start = this.$date(new Date(2020, 1, 1), "yyyy-MM-dd 00:00:00")
      this.searchFilters.end = this.$date(new Date(), "yyyy-MM-dd 23:59:59")
      this.searchFilters.period = 'always'
      this.searchFiltersApply()
    },


    onSubmit(evt) {
      evt.preventDefault()

      var that = this
      axios
      .all([
        axios.post(['/api/hours/add'], {hours:Object.values([that.form])}),
        ])
          .then(
          axios.spread(
            function (hours) {
              that.loadTimeEntries() 
            }
      ))

    },


    searchFiltersApply() {

        this.emptyFilters = true
        this.loadingList = true

        if (this.searchFilters.project_id > 0) this.emptyFilters = false
        if (this.searchFilters.client_id > 0) this.emptyFilters = false
        if (this.searchFilters.billable != null) this.emptyFilters = false

        this.searchFilters.start_show = this.$date(parse(this.searchFilters.start, "yyyy-MM-dd HH:mm:ss", new Date()), "dd/MM/yyyy")
        this.searchFilters.end_show = this.$date(parse(this.searchFilters.end, "yyyy-MM-dd HH:mm:ss", new Date()), "dd/MM/yyyy")

        var that = this
        var tempArray = []
        this.hours.forEach(function callback(currentValue, index, array) {

            var add = true
            
            //if (that.searchFilters.name != '' && currentValue.name.search(that.searchFilters.name) == 0) add = false

            that.projects.forEach(function callback(item, index, array) {              
                if (that.searchFilters.project_id != null && currentValue.project_id != that.searchFilters.project_id) add = false
            });

            that.clients.forEach(function callback(item, index, array) {
                if (that.searchFilters.client_id != null && currentValue.client_id != that.searchFilters.client_id) add = false
            });

            if (currentValue.start < that.searchFilters.start || currentValue.start > that.searchFilters.end) add = false 

            if (that.searchFilters.billable != null && currentValue.billable != that.searchFilters.billable) add = false

            //if (that.emptyFilters) add = true
            if (add == true) tempArray.push(currentValue)

        });

        this.items = []
        var that = this
        tempArray.forEach(function callback(currentValue, index, array) {
          that.items.push(currentValue)
        });

        this.recalculateHours()

    },

    recalculateHours() {

        let total =  0
        let billable = 0
        let unbillable = 0

        this.items.forEach(function callback(currentValue, index, array) {
          total = total + currentValue.hours
          if (currentValue.billable == 1) billable = billable + currentValue.hours
          else unbillable = unbillable + currentValue.hours
        });

        this.hours_total = Math.round(total * 10) / 10
        this.hours_billable = Math.round(billable * 10) / 10
        this.hours_unbillable = Math.round(unbillable * 10) / 10

        this.loadingList = false

    },

  }

}
</script>


<style lang="scss">

</style>
