.align-middle {
  display: flex;
  align-items: center;
}

#project-list {

  .slot-project {
    margin-bottom: 1em;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 1em;

    .project-name {
      font-weight: bold;
      display: block;
      font-size: 1.2em;
    }

    .client-name {
      font-style: italic;
      display: block;
    }
  }

  .pointer {
    cursor: pointer;
  }

  .slot-project:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .archive-icon {
    opacity: 0;
  }

  .archive-icon:hover {
    opacity: 1;
  }

}

.handle {
    display: block;
    position: absolute;
    z-index: 10000;
    margin-top: 35px;
    margin-left: 2px;
    width: 18px;
    height: 18px;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><path d="M0 7.5v5h50v-5H0zm0 15v5h50v-5H0zm0 15v5h50v-5H0z" color="%23000"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .25;
    cursor: row-resize;
}