#proposal {
    margin-top: 3em;
    padding: 2em;
    width: 100%;
    border: 1px solid $grismedio;
    box-shadow: 5px 10px #888888;    

    #proposal-resume {
        background: #f5fcf8;
        border: 1px solid #e0e0e0;
        padding: 2em;

        .slot-concept-proposal-resume {
            border-top: 1px solid #e0e0e0;
            padding-top: 1em;
        }
    }

    #terms {
        margin-top: 3em;
        padding-top: 2em;
        border-top: 3px dotted #e0e0e0;
        font-size: 14px;
    }
}


#credits-genomada {
    width: 250px;
    margin: 6em auto;
    text-align: center;
    font-size: 14px;
    color: #888888;

    img {
        width: 150px;
    }
}