// // Body
$body-bg: #f7f9fb;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;

// Genomada
$primary-color: #73acb8;
$secondary-color: #dfc9c8;
$text-color: #19272B;

$grisclaro: #F5F5F5;
$grismedio: #828282;

$fondo: #f9fbfd;
$borde: #eff2f6;

$danger: #EB5757;
$success: #27AE60;
$info: #2D9CDB;
$warning: #F2C94C;
$orange: #F2994A;
$lila: #BB6BD9;
$default: $grismedio;
