body {
    font-family: 'Jost', sans-serif;
    font-weight: 100 !important;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.navbar a.dropdown-item,
a {
    color: $primary-color;
}

.container {
    max-width: 1320px;
}

.pointer {
    cursor: pointer;
}

.header {
    margin-bottom: 0.5em;
}

.menu-upright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    span.nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }

    a {
        margin-left: 1em;
    }

    img {
        height: 32px;
        width: auto;
        margin-top: -10px;
    }
}

.card.data-box {
    min-height: 100px;
    margin-bottom: 1em;

    .card-header {
        background: white;
    }

    .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        font-size: 1.7em;

        img {
            height: 35px;
            width: auto;
        }
    }
}

#mits, 
#tasks {

  .card-header {
      background: none;
      text-align: center;
  }
  
  .slot-task {
    margin-bottom: 1em;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 1em;

    .task-name {
      display: block;
    }

  }

  .completed {
    opacity: 0.3;
    text-decoration: line-through;
  }

  .slot-task:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

}

.inline-input {
    border: none !important;
    padding: 0 !important;
}

.modal-backdrop {
    background: rgba(0,0,0,0.7);
}

.navbar {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

img.icon-integration {
    height: 25px !important;
    vertical-align: middle;
    width: auto;
}

.real {
    font-weight: 700;
}

.desired {
    color: $primary-color;
}

.pending {
    color: $orange;
    font-weight: bold;
}

.price {
    color: #00aa00;
    font-weight: 700;
}

.green {
    color: #00aa00;
}

.orange {
    color: $orange;
}

.lila {
    color: $lila;
}

.bold {
    font-weight: 700 !important;
}

.gray {
    color: $grismedio;
}

.red {
    color: $danger;
}

.blue {
    color: $info;
}

.border-margin-top {
    border-top: 1px solid $grisclaro;
    margin-top: 1em;
    padding-top: 1em;
}

.nav-link.active {
    font-weight: bold !important;
}

.settings-card .nav-link.active {
    color: white !important;
}

.font-weight-bold {
    font-weight: bold;
}

.text-sm {
    font-size: 0.7em;
}