<template>

  <div v-if="!loaded">
    <div class="spinner-border text-secondary" role="status"></div>
  </div>

  <div v-else>

    <div class="leMonth" v-for="(month, index) in items.calendar" :index="parseInt(index)" :key="parseInt(index)" :value="month">
      <h5>{{ month[0].name }} / {{ month[27].name }}</h5>
      <div class="month">
        <div class="day" :class="{ holiday: day.holiday }" v-for="(day, index2) in month" :index2="parseInt(index2)" :key="parseInt(index2)" :value="day">
          <div class="dayLabel pointer" :class="{ today: day.today }" @click="setDay(day.date, day.show_date)">
            {{ day.day }}
          </div>
          <div class="dayInside" :class="{ holiday: day.holiday }">
            <div class="slot-workload" :class="{ overloaded: workload.overloaded }"
                v-for="(workload, index3) in day.workloads" :index3="parseInt(index3)" :key="parseInt(index3)" :value="workload"
                v-b-tooltip.hover :title="workload.label"
                @click="deleteWorkLoad(workload)"
                :style="`background-image: url('/project/thumbnail/`+workload.project_id+`)`"
            >
              <div class="slot-hour-inside" v-for="(hours, index4) in workload.hours" :index4="parseInt(index4)" :key="parseInt(index4)" :value="hours">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <b-modal ref="modalIncomes" centered id="add-income" :title="($t('add_registry')+` `+form.show_date)" ok-only ok-variant="secondary" :ok-title="$t('cancel')">

      <b-form @submit="onSubmit" class="m-1">

        <div class="row mb-4">
          <div class="col-6">
            <b-button @click="changeType('workload')" class="w-100" variant="outline-success" v-bind:class="{ isWorkload: isWorkload }">
              {{ $t('workload') }}
            </b-button>
          </div>
          <div class="col-6">
            <b-button @click="changeType('holiday')" class="w-100" variant="outline-info" v-bind:class="{ isHoliday: isHoliday }">
              {{ $t('holiday') }}
            </b-button>
          </div>
        </div>

        <div class="row mb-4">

          <div class="col-12 col-md-9" v-if="(form.type == 'workload')">
            <b-form-group class="mb-4" :label="$t('project')">
              <b-form-select size="lg" v-model="form.projId" :options="items.projects" required :placeholder="$t('project')"></b-form-select>
            </b-form-group>
          </div>

          <div class="col-12 col-md-3" v-if="(form.type == 'workload')">
            <b-form-group class="mb-4" :label="$t('hours')">
              <b-form-select size="lg" v-model="form.hours" :options="theHours" required :placeholder="$t('hours')"></b-form-select>
            </b-form-group>
          </div>

        </div>

        <b-button size="lg" type="submit" variant="primary" v-if="(form.type == 'workload')">{{ $t('add_workload') }}</b-button>
        <b-button size="lg" type="submit" variant="primary" v-else>{{ $t('add_holiday') }}</b-button>

      </b-form>

    </b-modal>

  </div>

</template>

<script>
import ApexCharts from 'apexcharts'
import VueApexCharts from 'vue-apexcharts'
import NoProjects from '../projects/NoProjects.vue';

export default {
  middleware: 'auth',

  components: {
    apexchart: VueApexCharts,
    NoProjects,
  },

  data: () => ({
    loaded: false,
    items: [],
    formatted: [],
    isHoliday: false,
    isWorkload: true,
    theHours: [
      { value: 1, text: '1h' },
      { value: 2, text: '2h' },
      { value: 3, text: '3h' },
      { value: 4, text: '4h' },
      { value: 5, text: '5h' },
      { value: 6, text: '6h' },
    ],
    form: {
      id: null,
      type: 'workload',
      projId: null,
      hours: null,
      date: null,
      show_date: null,
    },
  }),

  mounted () {
    this.loadData()
  },

  methods: {

    loadData() {
      var that = this
      axios
      .all([
        axios.get('/api/forecast'),
        ])
          .then(
          axios.spread(
            function (dataFetched) {
              that.items = dataFetched.data.data
              that.prepareChart()
            }
      ))
    },

    prepareChart() {
      this.loaded = true
    },

    setDay(date, show_date) {
      this.form.date = date
      this.form.show_date = show_date
      this.$bvModal.show('add-income')
    },

    changeType(what) {
      this.form.type = what
      if (this.form.type == 'workload') {
        this.isHoliday = false
        this.isWorkload = true
      } else {
        this.isHoliday = true
        this.isWorkload = false
      }
    },

    deleteWorkLoad(workload) {
      var obj = {'id': workload.id}
      var that = this

      axios.post('/api/forecast/delete-workload', obj).then(response => {
        that.loadData()
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
          $.each(this.errors, function (key, value) {
          });
        }
      });

    },

    onSubmit(evt) {
      evt.preventDefault()

      this.form.project_id = this.projectId

      var obj = this.form
      var that = this

      axios.post('/api/forecast/add', obj).then(response => {
        that.loadData()
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
          $.each(this.errors, function (key, value) {
          });
        }
      });

    },

  }

}
</script>


<style lang="scss">
.leMonth {
  margin-bottom: 2em;

  h5 {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .month {
    display: flex;
    background: white;
    border-bottom: 1px solid #efefef;

    .day {
      flex: 0 4%;
      border-left: 1px solid #efefef;
      text-align: center;
      display: flex;
      flex-direction: column;

      .dayLabel {
        border-bottom: 1px solid #efefef;
        background: #f0f0f0;
      }

      .dayLabel.today {
        font-weight: bold;
        background: #e0e0e0;
      }

      .dayInside {
        display: flex;
        flex-direction: column-reverse;
        height: 100px;

        .slot-workload {
          background-color: #65dda5;
          background-position: center center;
          background-size: cover;
          border: 3px solid #28b573;
          margin: 1px;
          cursor: not-allowed;
          .slot-hour-inside {
            height: 10px;
          }
        }

        .slot-workload.overloaded {
          height: 10px;
          background: #ff0000;
        }

      }

    }

    .day.holiday {
      background: #ddf0e2;
      .dayLabel {
        background: #ddf0e2;
      }
    }

  }

}


.isWorkload {
  background: green;
  color: white;
}

.isHoliday {
  background: blue;
  color: white;
}

</style>
