<template>
  <div>
    <b-progress height="3rem" :max="items.yearly_goal" class="mb-3">
      <b-progress-bar
        variant="success"
        :value="items.balance_so_far"
        show-progress
      >
        <strong class="text-inside">{{ items.balance_so_far_show }}</strong>
      </b-progress-bar>
      <b-progress-bar variant="info" :value="items.pending" show-progress>
        <strong class="text-inside">{{ items.pending_show }}</strong>
      </b-progress-bar>
      <b-progress-bar
        variant="white"
        :value="items.gap_without_estimated"
        stripped
        animated
        show-progress
      >
        <strong class="text-inside text-black">{{
          items.gap_without_estimated_show
        }}</strong>
      </b-progress-bar>
    </b-progress>
  </div>
</template>

<script>
import NoProjects from "../projects/NoProjects.vue";

export default {
  middleware: "auth",

  props: ["items"],

  components: {
    NoProjects,
  },
};
</script>


<style lang="scss">
.text-inside {
  font-size: 1.2em;
}
.text-inside.text-black {
  color: #444;
}
</style>
