<template>
  <div v-if="!loaded">
    <div class="spinner-border text-secondary" role="status"></div>
  </div>

  <div v-else>
    <div id="schedule">
      <ScheduleBoxes :items="items"></ScheduleBoxes>
      <ScheduleProgressBar :items="items"></ScheduleProgressBar>
      <div v-if="table">
        <br /><br />
        <ScheduleTable
          :projects="items.projects"
          :fields="fields"
        ></ScheduleTable>
      </div>
    </div>
  </div>
</template>

<script>
import NoProjects from "../projects/NoProjects.vue";
import ScheduleBoxes from "./ScheduleBoxes.vue";
import ScheduleProgressBar from "./ScheduleProgressBar.vue";
import ScheduleTable from "./ScheduleTable.vue";

export default {
  middleware: "auth",

  props: ["table"],

  components: {
    NoProjects,
    ScheduleBoxes,
    ScheduleProgressBar,
    ScheduleTable,
  },

  data: () => ({
    loaded: false,
    items: [],
    formatted: [],
    fields: ["name", "incomes_show", "outcomes_show", "pending_show"],
  }),

  mounted() {
    this.loadData();
  },

  methods: {
    loadData() {
      var that = this;
      axios.all([axios.get("/api/schedule")]).then(
        axios.spread(function (dataFetched) {
          that.items = dataFetched.data.data;
          that.loaded = true;
        })
      );
    },
  },
};
</script>
