<template>
  <b-table striped hover :items="projects" :fields="fields"></b-table>
</template>

<script>
import NoProjects from "../projects/NoProjects.vue";

export default {
  middleware: "auth",

  props: ["projects"],

  components: {
    NoProjects,
  },

  data: () => ({
    fields: ["name", "incomes_show", "outcomes_show", "pending_show"],
  }),
};
</script>
