<template>
  <div class="row mb-1">
    <div class="col-12 col-sm-3">
      <card class="data-box" :title="$t('yearly_revenue_expected')">
        <div><img src="/img/ico-money-rise.svg" /></div>
        <div class="price">{{ items.yearly_goal_show }}</div>
      </card>
    </div>

    <div class="col-12 col-sm-3">
      <card class="data-box" :title="$t('balance_so_far')">
        <div><img src="/img/ico-money.svg" /></div>
        <div class="green">{{ items.balance_so_far_show }}</div>
      </card>
    </div>

    <div class="col-12 col-sm-3">
      <card class="data-box" :title="$t('expected_earnings')">
        <div><img src="/img/ico-percent.svg" /></div>
        <div class="blue">{{ items.pending_show }}</div>
      </card>
    </div>

    <div class="col-12 col-sm-3">
      <card class="data-box" :title="$t('benefit_to_be_achieved')">
        <div><img src="/img/ico-money-rise.svg" /></div>
        <div class="black">{{ items.gap_without_estimated_show }}</div>
      </card>
    </div>
  </div>
</template>

<script>
import NoProjects from "../projects/NoProjects.vue";

export default {
  middleware: "auth",

  props: ["items"],

  components: {
    NoProjects,
  },
};
</script>


<style lang="scss">
#schedule {
  .text-inside {
    font-size: 1.2em;
  }
  .text-inside.text-black {
    color: #444;
  }
}
</style>
