<template>

  <div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div v-else>

      <div class="row header">
        <div class="col-12 col-sm-6">
          <h3 class="mb-4">
            {{ $t('bill_hours') }}
          </h3>
        </div>
        <div class="col-12 col-sm-6 text-right menu-upright">

          <b-button v-if="(checkedItems.length > 0)" class="mr-2" variant="outline-danger" @click="discard()">
            {{ $t('discard_hours') }}
          </b-button>

          <b-button v-if="(checkedItems.length > 0)" variant="outline-success" @click="bill()">
            {{ $t('bill_hours_go') }}
          </b-button>

        </div>
      </div>

      <div class="row">
        
        <div class="col-12 col-sm-3">

          <b-card>
            <p>{{ $t('billhours_exp1') }} </p>
            <p>{{ $t('billhours_exp2') }} </p>
            <ul>
              <li><p><strong>{{ $t('discard_hours') }}:</strong> {{ $t('billhours_exp_discard') }}.</p></li>
              <li><p><strong>{{ $t('bill_hours_go') }}:</strong> {{ $t('billhours_exp_bill') }}.</p></li>
            </ul>
          </b-card>
          
        </div>
        
        <div class="col-12 col-sm-9">

          <b-card>

            <div id="unbilled-table">
              <div v-for="(item, index) in items" :key="index" class="unbilled-row">
                <div class="unbilled-cell"><input type="checkbox" :id="item.id" :value="item.id" v-model="checkedItems"></div>
                <div class="unbilled-cell"><strong>{{ item.store_project }}</strong></div>
                <div class="unbilled-cell"><input class="form-control" @change="updateName(item.id)" v-model="item.name"></div>
                <div class="unbilled-cell">
                  <div class="input-group">
                    <input class="form-control text-right" size="2" @change="updatePrice(item.id)" v-model="item.price_per_hour">
                    <div class="input-group-append">
                      <span class="input-group-text">€</span>
                    </div>
                  </div>
                </div>
                <div class="unbilled-cell text-right">x</div>
                <div class="unbilled-cell text-right">{{ item.hours }} h</div>
                <div class="unbilled-cell text-right">=</div>
                <div class="unbilled-cell">
                  <div class="input-group">
                    <input class="form-control text-right" size="4" v-model="item.total">
                    <div class="input-group-append">
                      <span class="input-group-text">€</span>
                    </div>
                  </div>              
                </div>
              </div>
            </div>

          </b-card>

        </div>
      </div>
    
    </div>

  </div>

</template>

<script>
export default {

    data() {
      return {
        loaded: false,
        items: Array,
        checkedItems: [],
      }
    },

    ready() {},

    mounted () {
      this.loadBillableHours()
    },
      
    methods: {

      loadBillableHours() {

        var that = this
        axios
        .all([
          axios.get('/api/billing/hours/unbilled'),
          ])
            .then(
            axios.spread(
              function (unbilled) {
                that.loaded = true
                that.items = Object.values(unbilled.data.data)
              }
        ));

      },

      updatePrice(id) {
        this.items.map(function(value, key) {
          if (value.id == id) {
            value.price_per_hour = Math.round(value.price_per_hour)
            value.total = Math.round((value.price_per_hour * value.hours) * 100) / 100
          }
        });

      },

      discard() {
        var that = this;
        this.$bvModal.msgBoxConfirm(this.$t('discard_sure'))
          .then(value => {
            if (value) {
              var obj = {
                ['tasks']: this.checkedItems,
              }
              axios.post('/api/billing/hours/discard', obj).then(response => {
                that.loadBillableHours()
                that.$bvToast.toast(`Succesfully discarded`, {
                  variant: 'success',
                  noCloseButton: true,
                  autoHideDelay: 1500,
                })
              }).catch(error => {
                that.$bvToast.toast(`There has been an error while processing your request`, {
                  variant: 'danger',
                  noCloseButton: true,
                  autoHideDelay: 1500,
                })
              });
            }
          })
          .catch(err => {

          })
      },

      updateName(id) {
        var that = this
        this.items.map(function(value, key) {
          if (value.id == id) {
              var obj = {
                ['id']: value.id,
                ['name']: value.name,
              }
              axios.post('/api/billing/hours/updatename', obj).then(response => {
                that.loadBillableHours()
                that.$bvToast.toast(`Name succesfully changed`, {
                  variant: 'success',
                  noCloseButton: true,
                  autoHideDelay: 1500,
                })

              }).catch(error => {

              });
          }
        });
      },

      bill() {
        var that = this
        this.$bvModal.msgBoxConfirm(this.$t('billhours_sure'))
          .then(value => {
            if (value) {
              var obj = {
                ['tasks']: this.checkedItems,
                ['toBill']: this.items,
              }
              axios.post('/api/billing/hours/bill', obj).then(response => {
                that.loadBillableHours()
                that.$bvToast.toast(`Succesfully added to project incomes`, {
                  variant: 'success',
                  noCloseButton: true,
                  autoHideDelay: 1500,
                })
              }).catch(error => {
                that.$bvToast.toast(`There has been an error while processing your request`, {
                  variant: 'danger',
                  noCloseButton: true,
                  autoHideDelay: 1500,
                })

              });
            }
          })
          .catch(err => {

          })
      },

    }
}

</script>

<style lang="scss">
#unbilled-table {
  display:table;
  width: 100%;

  .unbilled-row {
    display:table-row; 

    .unbilled-cell {
      display:table-cell;
      padding: 5px;
    }

  }

}

.review-explanation {
  padding: 1em;
  background: #f7f7f7;
}

</style>
