<template>
  <div>

    <b-tabs content-class="mt-3">

      <b-tab :title="$t('dash_tab_overview')" active-tab-class="font-weight-bold text-success">

        <div v-if="(!subscription || subscription.projects == 0)">
          <card id="project-list">
            <NoProjects/>
          </card>
        </div>

        <div v-else>
          <Schedule :table="false"></Schedule>
          <Week></Week><br/>
          <Overview class="mb-4"></Overview>
        </div>

      </b-tab>

      <b-tab :title="$t('forecast')" active-tab-class="font-weight-bold text-success">
        <Forecast></Forecast>
      </b-tab>

      <b-tab :title="$t('schedule')" active-tab-class="font-weight-bold text-success">
        <Schedule :table="true"></Schedule>
      </b-tab>

      <b-tab :title="$t('dash_tab_tasks')" active-tab-class="font-weight-bold text-success">

        <div v-if="(!subscription || subscription.projects == 0)">
          <card id="project-list">
            <NoTasks/>
          </card>
        </div>

        <div v-else>
          <DashboardTasks></DashboardTasks>
        </div>

      </b-tab>

    </b-tabs>

  </div>
</template>

<script>
import Week from './dashboard/Week';
import Overview from './dashboard/Overview';
import DashboardTasks from './dashboard/DashboardTasks';
import NoProjects from './projects/NoProjects.vue';
import NoTasks from './tasks/NoTasks.vue';
import Forecast from './forecast/Forecast';
import Schedule from './forecast/Schedule';

import BestProjects from './analytics/BestProjects';
import MonthlyEarnings from './analytics/MonthlyEarnings';

export default {
  middleware: 'auth',

  components: {
    Week,
    Overview,
    DashboardTasks,
    NoProjects,
    NoTasks,
    BestProjects,
    MonthlyEarnings,
    Forecast,
    Schedule,
  },

  computed: {
    subscription () {
      return this.$store.state.subscription.subscription
    }
  },

}
</script>


<style lang="scss">
#dashboard {

}
</style>
