<template>

  <div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <card id="dash-tasks">

        <div class="row slot-task" v-for="(item, index) in items" :index="parseInt(index)" :key="parseInt(index)" :value="item">

          <div class="col-12 col-lg-3">

            <div class="image-and-name">
              <router-link :to="{ name: 'project.kanban', params: { id: item.project_id } }">
                <div class="item-thumbnail">
                  <img :src="'/project/thumbnail/'+item.project_id"/>
                </div>
              </router-link>
              <div class="name-and-client">
                <span class="project-name">
                  <router-link :to="{ name: 'project.kanban', params: { id: item.project_id } }">
                    {{ item.project }}
                  </router-link>
                </span>
              </div>
            </div>

          </div>

          <div class="col-12 col-lg-9 task-elements">

            <span class="task-name" v-b-modal="'modal'+item.id">
              {{ item.name }}
            </span>

            <span class="show-due-date" v-html="item.show_formatted_due_date"></span>

            <b-modal :id="'modal'+item.id" size="xl" centered header-class="d-none" footer-class="d-none">
              <Task :id="item.id"></Task>
            </b-modal>

          </div>

        </div>

      </card>

    </div>

  </div>

</template>

<script>
import Task from '../tasks/Task.vue';

export default {
  middleware: 'auth',

  components: {
    Task,
  },

  data: () => ({
    loaded: false,
    focus: 1,
    tasks: Array,
    items: Array,
  }),

  mounted () {
    this.loadTasksDash()
  },  

  methods: {

    loadTasksDash() {
      var that = this
      axios
      .all([
        axios.get('/api/dashboard/tasks'),
        ])
          .then(
          axios.spread(
            function (tasks) {
              that.loaded = true
              that.tasks = tasks.data.data
              that.items = Object.values(that.tasks)
            }
      ))
    },

  }

}
</script>


<style lang="scss">
#dash-tasks {

  .slot-task {
    margin-bottom: 0.5em;

    .image-and-name {
      display: flex;
      align-items: center;
      font-weight: bold;
    }

    .item-thumbnail {
      width: 40px;
      height: 40px;
      border-radius: 25px;
      overflow: hidden !important;
      display: inline-block;
      vertical-align: middle;
      margin-right: 1em;

      img {
        width: auto;
        max-height: 40px;
      }
    }

    .task-elements {
      padding: 10px;
      background: none !important;
      width: 100%;
      display: flex;
      align-items: center;
      align-content: flex-start;
      justify-content: space-between;
    }

  }

}
</style>
