<template>

  <div v-if="!loaded">
    <div class="spinner-border text-secondary" role="status"></div>
  </div>

  <div v-else>

    <div v-if="subscription.projects > 0">

      <div class="row mb-3">

        <div class="col-12 col-sm-4">
          <card class="data-box" :title="$t('incomes_pending_card_explained')">
            <div><img src="/img/ico-money-rise.svg"/></div>
            <div class="price">{{ item.estimated_earnings_pending }}</div>
          </card>
        </div>

        <div class="col-12 col-sm-4">
          <card class="data-box" :title="$t('total_benefit')">
            <div><img src="/img/ico-money.svg"/></div>
            <div class="green">{{ item.total_benefit }}</div>
          </card>
        </div>

        <div class="col-12 col-sm-4">
          <card class="data-box" :title="$t('price_hour_card_explained')">
            <div><img src="/img/ico-percent.svg"/></div>
            <div>
              <span class="orange bold">{{ item.price_hour }}</span>
              <span class="gray"> / {{ item.desired_price_hour }}</span>
            </div>
          </card>
        </div>

      </div>

      <div class="row mb-3">

        <div class="col-12 col-sm-4">
          <card class="data-box" :title="$t('focused_projects')">
            <div>
              <BIconStarFill class="mr-2"/>
              <img src="/img/ico-proyectos-big.svg"/>
            </div>
            <div>
              <span class="blue bold">{{ item.projects_focused }}</span>
              <span class="gray">{{ $t('projects') }}</span>
            </div>
          </card>
        </div>

        <div class="col-12 col-sm-4">
          <card class="data-box" :title="$t('active_projects')">
            <div>
              <BIconStarHalf class="mr-2"/>
              <img src="/img/ico-proyectos-big.svg"/>
            </div>
            <div>
              <span class="blue bold">{{ item.projects_active }}</span>
              <span class="gray">{{ $t('projects') }}</span>
            </div>
          </card>
        </div>

        <div class="col-12 col-sm-4">
          <card class="data-box" :title="$t('archived_projects')">
            <div><img src="/img/ico-proyectos-big.svg"/></div>
            <div>
              <span class="gray bold">{{ item.projects_archived }}</span>
              <span class="gray">{{ $t('projects') }}</span>
            </div>
          </card>
        </div>

      </div>

    </div>

    <!--<b-table hover :items="item.best_projects_ever" bordered="true" table-variant="light"></b-table>-->

  </div>

</template>

<script>
export default {
  middleware: 'auth',

  data: () => ({
    loaded: false,
  }),

  mounted () {
    this.loadOverview()
  },

  computed: {
    subscription () {
      return this.$store.state.subscription.subscription
    }
  },

  methods: {

    loadOverview() {

      var that = this

      axios
      .all([
        axios.get('/api/dashboard/overview'),
        ])
          .then(
          axios.spread(
            function (response) {
              that.item = response.data.data
              that.loaded = true
            }
      ))
    },


  },

}
</script>


<style lang="scss">
</style>
