<template>

  <card>

    <div class="row">
      <div class="col-12 col-md-9">
        <h3>{{ $t('review_projects') }}</h3>
      </div>
      <div class="col-12 col-md-3 text-right">
        <router-link :to="{ name: 'review.tasks' }" class="nav-link" active-class="active">
          <b-button variant="success">
            {{ $t('go_to_next_step') }}
          </b-button>
        </router-link>
      </div>
    </div>

    <b-alert show variant="warning" class="mb-5" v-html="$t('review_projects_explain')"></b-alert>

    <div class="row">
      <div class="col-12">
        <ProjectOrderFocus :hidetitle="true"/>
      </div>
    </div>

  </card>
  
</template>

<script>
import ProjectOrderFocus from '../projects/ProjectOrderFocus.vue';

export default {
  middleware: 'auth',

  components: {
    ProjectOrderFocus,
  },
}
</script>


<style lang="scss">
.img-no-tasks {
  max-width: 400px;
  margin: 3em;
}
</style>
