<template>

  <card>

    <div class="row mb-4">
      <div class="col-12 col-md-9">
        <h3>{{ $t('review_tasks') }}</h3>
      </div>
      <div class="col-12 col-md-3 text-right">
        <router-link :to="{ name: 'review.projects' }" class="nav-link d-none" active-class="active">
          <b-button variant="success">
            {{ $t('go_to_next_step') }}
          </b-button>
        </router-link>
      </div>
    </div>

    <b-alert show variant="warning" class="mb-5" v-html="$t('review_tasks_explain')"></b-alert>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <div v-if="(projects.length == 0)">
        <NoTasks/>
      </div>

      <div v-else>

        <div v-for="(item, index) in projects" :index="index" :key="index" :item="item">

          <div v-if="(current == index)">

            <div class="row mb-3">

              <div class="col-9">
                <h4>
                  <div class="item-thumbnail">
                    <img :src="'/project/thumbnail/'+item.id"/>
                  </div>
                  {{ item.name }}
                </h4>
              </div>

              <div class="col-3 text-right">

                <button @click="paginateDown()" class="btn btn-sm btn-info" v-if="(current > 0)">
                  &lt;
                </button>

                <span class="mr-2 ml-2">
                  {{ (current+1) }} / {{ totalProjects }}
                </span>

                <button @click="paginateUp()" class="btn btn-sm ml-1 btn-info" v-if="(current < (totalProjects-1))">
                  &gt;
                </button>

              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <ProjectKanban :projectId="item.id" :hidetitle="true"/>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </card>
  
</template>

<script>
import ProjectKanban from '../projects/ProjectKanban'
import NoTasks from '../tasks/NoTasks.vue';

export default {

    components: {
      ProjectKanban,
      NoTasks
    },

    data() {
      return {
        projects: null,
        current: 0,
        totalProjects: 0,
        loaded: false,
        errors: null,
      }
    },

    ready() {},

    mounted: function () {
      this.loadProjects()
    },

    methods: {

      loadProjects() {
        axios.get('/api/fetch/projects').then(response => {
          this.projects = response.data.data
          this.filterProjects()
        }).catch(error => {
          this.loaded = false;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
            $.each(this.errors, function (key, value) {
            });
          }
        });
      },

      filterProjects() {

        let arr = Object.values(this.projects)
        let filtered = []

        arr.forEach(function callback(currentValue, index, array) {
          if (currentValue["focus"] == 1) filtered.push(currentValue)
        });

        this.projects = filtered

        this.totalProjects = this.projects.length
        this.loaded = true

      },

      paginateDown() {
        let temp = this.current
        if (temp > 0) temp = temp - 1; else temp = 0
        this.current = temp
      },

      paginateUp() {
        let temp = this.current
        if (temp < this.totalProjects) temp = temp + 1; else this.totalProjects = 0
        this.current = temp
      },

    }

}
</script>


<style lang="scss">
.img-no-tasks {
  max-width: 400px;
  margin: 3em;
}

.image-and-name {
  display: flex;
  align-items: center;
}

.item-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  overflow: hidden !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;

  img {
    width: auto;
    max-height: 40px;
  }

}

</style>
