<template>

  <div class="row" id="review-area">

    <div class="col-12 mb-4">

      <b-navbar type="light" variant="light">

        <b-navbar-brand>{{ $t('review') }}</b-navbar-brand>

        <b-navbar-nav>

          <router-link :to="{ name: 'review.projects' }" class="nav-link" active-class="active">
            1. {{ $t('review_projects') }}
          </router-link>
          <router-link :to="{ name: 'review.tasks' }" class="nav-link" active-class="active">
            2. {{ $t('review_tasks') }}
          </router-link>

        </b-navbar-nav>
      </b-navbar>
      
    </div>

    <div class="col-12">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>

  </div>

</template>

<script>
export default {
  middleware: 'auth',
}
</script>

<style lang="scss">
#review-area {

}
</style>
