<template>

  <card>
    <div class="text-center mt-5 mb-5">

      <h4>{{ $t('welcome_to_review') }}</h4>

      <div class="row">
        <div class="col-12 col-md-6">
          <p><img src="/img/vector/review.svg" class="img-no-tasks"/></p>
        </div>
        <div class="col-12 col-md-6 pt-5">

          <b-jumbotron>
            <template v-slot:lead>
              {{ $t('review_welcome_text_1') }}
              {{ $t('review_welcome_text_2') }}
            </template>            
          </b-jumbotron>
            
        </div>
      </div>

      <router-link :to="{ name: 'review.projects' }" class="nav-link" active-class="active">
        <b-button variant="success" size="lg">
          {{ $t('start_review') }}
        </b-button>
      </router-link>

    </div>
  </card>
  
</template>

<style lang="scss">
.img-no-tasks {
  max-width: 400px;
  margin: 3em;
}
</style>
