<template>

  <card>
    <div class="text-center mt-5 mb-5">

      <h4>{{ $t('welcome_to_analitics') }}</h4>

      <div class="row">
        <div class="col-12 col-md-6">
          <p><img src="/img/vector/analytics.svg" class="img-no-tasks"/></p>
        </div>
        <div class="col-12 col-md-6 pt-5">

          <b-jumbotron>

              <template v-slot:lead>
                {{ $t('analytics_welcome_txt_1') }}
              </template>

              <hr class="my-4">

              <p>
                {{ $t('analytics_welcome_txt_2') }}
              </p>
              
            </b-jumbotron>
            
        </div>
      </div>

    </div>
  </card>
  
</template>

<style lang="scss">
.img-no-tasks {
  max-width: 400px;
  margin: 3em;
}
</style>
