<template>

  <div class="row" id="analytics-area">

    <div class="col-12 mb-4">

      <b-navbar type="light" variant="light">
        <b-navbar-nav>

          <!-- Performance -->
          <!--<b-nav-item-dropdown :text="$t('performance_analitics')" right>-->
            <router-link :to="{ name: 'analytics.monthlyearnings' }" class="nav-link" active-class="active">
              {{ $t('analytics_title_monthly_income') }}
            </router-link>
            <router-link :to="{ name: 'analytics.bestprojects' }" class="nav-link" active-class="active">
              {{ $t('analytics_title_best_projects') }}
            </router-link>
          <!--</b-nav-item-dropdown>-->

        </b-navbar-nav>
      </b-navbar>
      
    </div>

    <div class="col-12">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>

  </div>

</template>

<script>
export default {
  middleware: 'auth',
}
</script>

<style lang="scss">
#analytics-area {

}
</style>
