<template>

  <div v-if="!loaded">
    <div class="spinner-border text-secondary" role="status"></div>
  </div>

  <div v-else>

    <b-alert show variant="warning" class="mt-4" v-html="$t('analytics_title_best_projects_explain')"></b-alert>

    <card id="analytics-best-projects" :title="$t('analytics_title_best_projects')">

      <div v-if="!items">
        <NoProjects/>
      </div>

      <div v-else>
        <apexchart type="bar" height="350" :options="chartOptions" :series="series"></apexchart>
      </div>

    </card>

  </div>

</template>

<script>
import ApexCharts from 'apexcharts'
import VueApexCharts from 'vue-apexcharts'
import NoProjects from '../projects/NoProjects.vue';

export default {
  middleware: 'auth',

  components: {
    apexchart: VueApexCharts,
    NoProjects,
  },

  data: () => ({
    loaded: false,
    items: [],
    formatted: [],

    series: [{
      name: 'Price per hour',
      data: []
    }],

    chartOptions: {
      chart: {
        height: 350,
        type: 'bar',
      },
      plotOptions: {
        bar: {
          dataLabels: {
            position: 'top', // top, center, bottom
          },
        }
      },
      dataLabels: {
        enabled: true,
        formatter: function (val) {
          return val
          return new Intl.NumberFormat(this.items[0].locale).format(val) + this.items[0].currency;
        },
        offsetY: -30,
        style: {
          fontSize: '18px',
          margin: '10px',
          colors: ["#00aa00", "#22aa00"]
        }
      },
      
      xaxis: {
        categories: [],
        position: 'top',
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        crosshairs: {
          fill: {
            type: 'gradient',
            gradient: {
              colorFrom: '#D8E3F0',
              colorTo: '#BED1E6',
              stops: [0, 100],
              opacityFrom: 0.4,
              opacityTo: 0.5,
            }
          }
        },
        tooltip: {
          enabled: true,
        }
      },
      yaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false,
        },
        labels: {
          show: false,
          formatter: function (val) {
            return val
            return new Intl.NumberFormat(this.items[0].locale).format(val) + this.items[0].currency;
          }
        }
      
      },

    },
    
  }),

  mounted () {
    this.loadData()
  },  

  methods: {

    loadData() {
      var that = this
      axios
      .all([
        axios.get('/api/analytics/best-projects'),
        ])
          .then(
          axios.spread(
            function (dataFetched) {
              that.items = dataFetched.data.data
              that.prepareChart()
            }
      ))
    },

    prepareChart() {
      if (this.items == null) this.loaded = true
      this.chartOptions.xaxis.categories = this.items[0].clients
      this.series[0].data = this.items[0].price_hour
      this.formatted = Object.values(this.items[0].price_hour_formatted)
      this.loaded = true
    },

  }

}
</script>


<style lang="scss">
#analytics-best-projects {

}
</style>
