<template>

  <div v-if="!loaded">
    <div class="spinner-border text-secondary" role="status"></div>
  </div>

  <div v-else>

    <b-alert show variant="warning" v-html="$t('analytics_title_monthly_income_explain')"></b-alert>

    <card class="mb-3" id="analytics-best-projects" :title="$t('analytics_title_monthly_income')">
      <apexchart type="bar" height="350" :options="chartOptions" :series="series"></apexchart>
    </card>

    <div class="row mb-3">
      <div class="col-12 col-sm-4" v-for="(item, index) in items[0].boxes" :index="parseInt(index)" :key="parseInt(index)" :value="item">
        <card class="data-box" :title="item.date">
          <div class="price" v-b-tooltip.hover :title="$t('final_benefit')">{{ new Intl.NumberFormat('es-ES').format(item.balance) + "€" }}</div>
          <div class="blue text-sm" v-b-tooltip.hover :title="$t('incomes')">{{ new Intl.NumberFormat('es-ES').format(item.incomes) + "€" }}</div>
          <div class="red text-sm" v-b-tooltip.hover :title="$t('outcomes')">{{ new Intl.NumberFormat('es-ES').format(item.expenses) + "€" }}</div>
        </card>
      </div>
    </div>

  </div>

</template>

<script>
import ApexCharts from 'apexcharts'
import VueApexCharts from 'vue-apexcharts'

export default {
  middleware: 'auth',

  components: {
    apexchart: VueApexCharts,
  },

  data: () => ({
    loaded: false,
    items: [],
    formatted: [],

    series: [{
      name: 'Sueldo',
      data: []
    }],

    chartOptions: {
      chart: {
        height: 200,
        type: 'bar',
      },
      plotOptions: {
        bar: {
          dataLabels: {
            position: 'top', // top, center, bottom
          },
        }
      },
      dataLabels: {
        enabled: true,
        formatter: function (val) {
          return val
          return new Intl.NumberFormat('es-ES').format(val) + "€";
        },
        offsetY: -30,
        style: {
          fontSize: '18px',
          margin: '10px',
          colors: ["#00aa00", "#22aa00"]
        }
      },
      
      xaxis: {
        categories: [],
        position: 'top',
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        crosshairs: {
          fill: {
            type: 'gradient',
            gradient: {
              colorFrom: '#D8E3F0',
              colorTo: '#BED1E6',
              stops: [0, 100],
              opacityFrom: 0.4,
              opacityTo: 0.5,
            }
          }
        },
        tooltip: {
          enabled: true,
        }
      },
      yaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false,
        },
        labels: {
          show: false,
          formatter: function (val) {
            return val
            return new Intl.NumberFormat('es-ES').format(val) + "€";
          }
        }
      
      },

    },
    
  }),

  mounted () {
    this.loadData()
  },  

  methods: {

    loadData() {
      var that = this
      axios
      .all([
        axios.get('/api/analytics/monthly-earnings'),
        ])
          .then(
          axios.spread(
            function (dataFetched) {
              that.items = dataFetched.data.data
              that.prepareChart()
            }
      ))
    },

    prepareChart() {
      this.chartOptions.xaxis.categories = this.items[0].months
      this.series[0].data = this.items[0].balances
      this.formatted = Object.values(this.items[0].balances_formatted)
      this.loaded = true
    },

  }

}
</script>


<style lang="scss">
#analytics-best-projects {

}
</style>
