<template>

  <div v-if="!loaded">
    <div class="spinner-border text-secondary" role="status"></div>
  </div>
  <div v-else>

    <form @submit.prevent="update" @keydown="form.onKeydown($event)" class="mb-4">

      <alert-success :form="form" :message="$t('info_updated')" />

      <card :title="$t('currency_and_timezone')" class="mb-4">

        <!-- Name -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">{{ $t('currency') }}</label>
          <div class="col-md-7">
            <b-form-select size="lg" v-model="form.currency_id" :options="currencies" value-field="id" text-field="show_select" required></b-form-select>
            <has-error :form="form" field="name" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">{{ $t('timezone') }}</label>
          <div class="col-md-7">
            <b-form-select size="lg" v-model="form.timezone_id" :options="timezones" value-field="id" text-field="show_select" required></b-form-select>
            <has-error :form="form" field="name" />
          </div>
        </div>

      </card>

      <card :title="$t('taxes')" class="mb-4">

        <!-- Taxes -->
        <b-alert :show="(taxes.length == 0)" variant="warning">
          {{ $t('no_taxes') }}
        </b-alert>

        <div class="slot-concept-editor" v-for="(slot, index) in taxes" :index="parseInt(index)" :key="parseInt(index)" :value="slot">

          <div class="row">

            <div class="col-12 col-sm-6">
              <p>{{ $t('tax_name') }}</p>
              <b-form-input class="mb-4 w-100" v-model="slot.name" required></b-form-input>
            </div>
            <div class="col-4 col-sm-2">
              <p>%</p>
              <b-form-input type="number" class="mb-4 w-100" v-model="slot.percent" required v-b-tooltip.hover :title="$t('tax_percent')"></b-form-input>
            </div>
            <div class="col-4 col-sm-2">
              <p>{{ $t('order') }}</p>
              <b-form-input type="number" class="mb-4 w-100" v-model="slot.order" required></b-form-input>
            </div>
            <div class="col-4 col-sm-2 text-right">
              <p>&nbsp;</p>
              <b-button variant="outline-danger" @click="removeTax(index)">
                <BIconTrash variant="danger" v-b-tooltip.hover :title="$t('remove_tax')"/>
              </b-button>
            </div>

          </div>

        </div>

        <div class="row">
          <div class="col-12 text-right">
            <img src="/img/ico-add.svg" class="pointer" @click="addTax()"/>
          </div>
        </div>

      </card>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-12">
          <v-button :loading="form.busy" type="success">
            {{ $t('update') }}
          </v-button>
        </div>
      </div>

    </form>

  </div>

</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'

export default {
  scrollToTop: false,

  metaInfo () {
    return { title: this.$t('settings') }
  },

  data: () => ({
    currencies: [],
    timezones: [],
    taxes: [],
    loaded: false,
    form: new Form({
      currency_id: '',
      timezone_id: '',
    })
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  created () {
    // Fill the form with user data.
    this.form.keys().forEach(key => {
      this.form[key] = this.user[key]
    })

    // Load data
    var that = this
    axios
    .all([
      axios.get('/api/fetch/timezones'),
      axios.get('/api/fetch/currencies'),
      axios.get('/api/fetch/taxes'),
      ])
        .then(
        axios.spread(
          function (timezones, currencies, taxes) {
            that.timezones = timezones.data.data
            that.currencies = currencies.data.data
            that.taxes = Object.values(taxes.data.data)
            that.loaded = true
          }
    ))    
  },

  methods: {

    async update () {
      const { data } = await this.form.patch('/api/settings/account')
      this.$store.dispatch('auth/updateUser', { user: data })
      this.updateTaxes()
    },

    addTax() {

      var newItem = { 
        name: null,
        percent: 10,
        order: 0,
      };

      this.taxes.push(newItem);

      this.$bvToast.toast(`Tax added`, {
        variant: 'success',
        noCloseButton: true,
        autoHideDelay: 1500,
      })

    },

    removeTax(index) {
      this.$bvModal.msgBoxConfirm('¿Seguro que deseas eliminar este impuesto?')
        .then(value => {
          if (value) {
            this.taxes.splice(index, 1)
            this.updateTaxes()
          }
        })
        .catch(err => {
          // An error occurred
        })
    },

    updateTaxes() {

      axios.post('/api/tax/update-taxes', {taxes:this.taxes}).then(response => {
          this.taxes = Object.values(response.data.data)
      }).catch(error => {
      });

    },

  }
}
</script>