<template>

    <card :title="$t('manage_subscription')">

        <div v-if="!loaded">
            <div class="spinner-border text-secondary" role="status"></div>
        </div>

        <div v-else class="p-3">

            <b-alert v-if="subscribed" variant="success" show class="mb-4">
                {{ $t('you_are_subscribed') }}                
            </b-alert>

            <div class="mb-5">
                <label>{{ $t('card_holder_name') }}</label>
                <input id="card-holder-name" type="text" v-model="name" class="form-control mb-2">

                <label>{{ $t('credit_card') }}</label>
                <div id="card-element"></div>

                <button class="btn btn-primary mt-3" id="add-card-button" v-on:click="submitPaymentMethod()">
                    {{ $t('save_payment_method') }}
                </button>
            </div>


            <div v-show="paymentMethodsLoadStatus == 2 
                && paymentMethods.length == 0"
                class="">
                    <h4 class="mt-3 mb-3">{{ $t('stored_payment_methods') }}</h4>
                    {{ $t('no_payment_method_on_file') }}
            </div>

            <div v-show="paymentMethodsLoadStatus == 2 
                    && paymentMethods.length > 0">

                <h4 class="mt-3 mb-3">{{ $t('stored_payment_methods') }}</h4>

                <div v-for="(method, key) in paymentMethods" 
                        v-bind:key="'method-'+key" 
                        v-on:click="paymentMethodSelected = method.id"
                        class="border rounded p-3 pointer"
                        v-bind:class="{
                        'bg-success text-light': paymentMethodSelected == method.id    
                    }">
                        <div class="row pointer">
                            <div class="col-2">
                                {{ method.brand.charAt(0).toUpperCase() }}{{ method.brand.slice(1) }}
                            </div>
                            <div class="col-7">
                                {{ $t('ending_in') }}: {{ method.last_four }} Exp: {{ method.exp_month }} / {{ method.exp_year }}
                            </div>
                            <div class="col-3">
                                <span v-on:click.stop="removePaymentMethod( method.id )">{{ $t('remove') }}</span>
                            </div>
                        </div>
                </div>
            </div>

            <div v-if="(paymentMethods.length > 0)" class="mt-4">
                <h4 class="mt-3 mb-3">{{ $t('select_subscription') }}</h4>

                <div class="mt-3 rounded border p-3 pointer"
                    v-bind:class="{'bg-success text-light': selectedPlan == 'plan_FVFu2R8wUR8phf'}" 
                    v-on:click="selectedPlan = 'plan_FVFu2R8wUR8phf'">
                    <div class="row">
                        <div class="col-6">
                            {{ $t('monthly') }} 
                        </div>
                        <div class="col-6">
                            7€ / {{ $t('month') }} 
                        </div>
                    </div>
                </div>

                <div class="mt-3 rounded border p-3 pointer"
                        v-bind:class="{'bg-success text-light': selectedPlan == 'plan_FVGP5zc1VvS54n'}" 
                        v-on:click="selectedPlan = 'plan_FVGP5zc1VvS54n'">
                    <div class="row">
                        <div class="col-6">
                            {{ $t('yearly') }} 
                        </div>
                        <div class="col-6">
                            77€ / {{ $t('year') }} 
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-6">
                        <div v-if="!updatingSubscription">
                            <b-button size="lg" variant="success" v-if="(paymentMethodSelected.length > 0 && selectedPlan != '')" id="add-card-button" @click="updateSubscription()">
                                <b v-if="!subscribed">{{ $t('subscribe') }}</b>
                                <b v-else>{{ $t('change_plan') }}</b>
                            </b-button>
                        </div>
                        <div v-else>
                            <div class="spinner-border text-secondary" role="status"></div>
                        </div>
                    </div>
                    <div class="col-6 text-right">

                        <div v-if="subscribed">

                            <div v-if="seguroQueBorrar">
                                <b-alert dismissible variant="warning">
                                    <p>{{ $t('sure_want_to_unsubcscribe') }}</p>
                                    <b-button variant="outline-danger" @click="cancelSubscription()" class="mb-3">
                                        {{ $t('sure_want_to_unsubcscribe_yes') }}
                                    </b-button>
                                </b-alert>
                            </div>
                            <div v-else>
                                <b-button v-if="subscribed" variant="outline-danger" @click="confirmCancel()">
                                    {{ $t('cancel_subscription') }}
                                </b-button>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </card>

</template>

<script>
export default {
    data(){
        return {
            stripeAPIToken: 'pk_live_H89r6wN7wxdMdQGNkkMF3yne00LgNGFljV',

            stripe: '',
            elements: '',
            card: '',

            intentToken: '',

            name: '',
            addPaymentStatus: 0,
            addPaymentStatusError: '',

            paymentMethods: [],
            paymentMethodsLoadStatus: 0,
            paymentMethodSelected: {},

            selectedPlan: '',
            subscribed: null,
            updatingSubscription: false,
            seguroQueBorrar: false,

            loaded: true,
        }
    },

    mounted(){
        this.includeStripe('js.stripe.com/v3/', function(){
            this.configureStripe();
        }.bind(this) );

        this.loadIntent();
        this.loadPaymentMethods();
        this.getStatus()
    },

    methods: {

        /*
            Gets user status
        */
        getStatus() {
            axios.get('/api/user/status')
                .then( function( response ){
                    this.subscribed = response.data;
                    this.updatingSubscription = false
                    this.seguroQueBorrar = false
                }.bind(this));
        },

        /*
            Includes Stripe.js dynamically
        */
        includeStripe( URL, callback ){
            var documentTag = document, tag = 'script',
                object = documentTag.createElement(tag),
                scriptTag = documentTag.getElementsByTagName(tag)[0];
            object.src = '//' + URL;
            if (callback) { object.addEventListener('load', function (e) { callback(null, e); }, false); }
            scriptTag.parentNode.insertBefore(object, scriptTag);
        },

        /*
            Configures Stripe by setting up the elements and 
            creating the card element.
        */
        configureStripe(){
            this.stripe = Stripe(this.stripeAPIToken);
            this.elements = this.stripe.elements();
            this.card = this.elements.create('card');
            this.card.mount('#card-element');
        },

        /*
            Loads the payment intent key for the user to pay.
        */
        loadIntent(){
            axios.get('/api/user/setup-intent')
                .then( function( response ){
                    this.loaded = true
                    this.intentToken = response.data;
                }.bind(this));
        },

        /*
            Uses the intent to submit a payment method
            to Stripe. Upon success, we save the payment
            method to our system to be used.
        */
        submitPaymentMethod(){
            this.addPaymentStatus = 1;

            this.stripe.confirmCardSetup(
                this.intentToken.client_secret, {
                    payment_method: {
                        card: this.card,
                        billing_details: {
                            name: this.name
                        }
                    }
                }
            ).then(function(result) {
                if (result.error) {
                    this.addPaymentStatus = 3;
                    this.addPaymentStatusError = result.error.message;
                } else {
                    this.savePaymentMethod( result.setupIntent.payment_method );
                    this.addPaymentStatus = 2;
                    this.card.clear();
                    this.name = '';
                }
            }.bind(this));
        },

        /*
            Saves the payment method for the user and
            re-loads the payment methods.
        */
        savePaymentMethod( method ){
            axios.post('/api/user/payments', {
                payment_method: method
            }).then( function(){
                this.loadPaymentMethods();
            }.bind(this));
        },

        /*
            Loads all of the payment methods for the
            user.
        */
        loadPaymentMethods(){
            this.paymentMethodsLoadStatus = 1;

            axios.get('/api/user/payment-methods')
                .then( function( response ){
                    this.paymentMethods = response.data;
                    this.paymentMethodsLoadStatus = 2;
                    // this.setDefaultPaymentMethod();
                }.bind(this));
        },

        removePaymentMethod( paymentID ){
            axios.post('/api/user/remove-payment', {
                id: paymentID
            }).then( function( response ){
                this.loadPaymentMethods();
            }.bind(this));
        },

        updateSubscription(){
            this.updatingSubscription = true
            axios.put('/api/user/subscription', {
                plan: this.selectedPlan,
                payment: this.paymentMethodSelected
            }).then( function( response ){
                this.$bvToast.toast(`¡Subscripción iniciada correctamente!`, {
                    variant: 'success',
                    noCloseButton: true,
                    autoHideDelay: 1500,
                })
                this.getStatus()
            }.bind(this));
        },

        /*
            Cancels a subscription
        */
        confirmCancel() {
            this.seguroQueBorrar = true
        },

        cancelSubscription(){
            axios.post('/api/user/cancel')
                .then( function( response ){
                    this.$bvToast.toast(`Subscripción cancelada correctamente!`, {
                        variant: 'warning',
                        noCloseButton: true,
                        autoHideDelay: 1500,
                    })
                    this.getStatus()
                }.bind(this));
        },
    }
}
</script>