<template>
  <div class="text-center mt-5 mb-5">

    <h4>{{ $t('no_tasks') }}</h4>
    <p><img src="/img/vector/no-tasks.svg" class="img-no-tasks"/></p>

  </div>
</template>

<style lang="scss">
.img-no-tasks {
  max-width: 400px;
  margin-top: 3em;
}
</style>
