<template>

  <div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else class="p-4">

      <div v-if="trashed">
        <p class="text-center">{{ $t('trashed_ok') }}</p>
      </div>
      <div v-else>

        <div class="row">

          <div class="col-12">
            <b-alert :show="(item.completed == 1)" variant="success">
              Tarea completada
            </b-alert>
          </div>

          <div class="col-12 col-md-9">
            <b-form-input @change="updateTask()" size="lg" v-model="item.name" required class="inline-input mb-3 text-lg"></b-form-input>
          </div>

          <div class="col-12 col-md-3 text-right">

            <div v-if="!editingDueDate" class="show-due-date" @click="editDueDate()">

              <span v-if="item.due_date" v-html="item.show_formatted_due_date"></span>
              <span v-else>
                <b-button @click="editDueDate()" variant="outline-primary">{{ $t('set_due_date') }}</b-button>
              </span>
            </div>

            <div v-else>
              <date-picker @change="updateTask()" v-model="item.due_date" required type="datetime" format="YYYY-MM-DD"></date-picker>
            </div>

          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12">
            <vue-editor @blur="updateTask()" class="inline-input" v-model="item.desc" id="editor" :editorToolbar="customToolbar"> </vue-editor>
          </div>
        </div>

        <div class="mb-3" v-for="(file, index) in item.uploads" :index="parseInt(index)" :key="parseInt(index)" :value="file">
          <TaskFileSlot :file="file"></TaskFileSlot>
        </div>

        <div class="row mb-4">
          <div class="col-12">
            <Uploader model="task" :id="item.id"></Uploader>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12 text-right">

            <b-button variant="outline-danger" @click="trashItem()">
              {{ $t('tash_task') }}
            </b-button>

            <b-button variant="outline-success" @click="toggleCompleted()" v-if="!item.completed">
              {{ $t('mark_as_completed') }}
            </b-button>
            <b-button variant="outline-info" @click="toggleCompleted()" v-else>
              {{ $t('unmark_as_completed') }}
            </b-button>

          </div>
        </div>

      </div>

    </div>

  </div>

</template>

<script>
import { VueEditor } from "vue2-editor";
import Uploader from "../uploader/Uploader.vue";
import TaskFileSlot from "./TaskFileSlot.vue";

export default {
  middleware: 'auth',

  components: {
    VueEditor,
    Uploader,
    TaskFileSlot,
  },

  props: ['id'],

  data: () => ({
    loaded: false,
    trashed: false,
    loadId: null,
    editingDueDate: false,
    item: Array,
    customToolbar: [["bold", "italic", "underline"], [{ list: "ordered" }, { list: "bullet" }], ["link"]]
  }),

  mounted () {

    this.loadId = this.$props.id;

    var that = this
    axios
    .all([
      axios.get(`/api/tasks/`+that.id),
      ])
        .then(
        axios.spread(
          function (task) {
            that.loaded = true
            that.item = task.data.data
          }
    ))

  },  

  methods: {

    updateTask() {

     axios.patch(['/api/tasks/'+this.item.id], this.item).then(response => {
        this.editingDueDate = false
        this.$bvToast.toast(`Task succesfully updated`, {
          variant: 'success',
          noCloseButton: true,
          autoHideDelay: 1500,
        })
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
          $.each(this.errors, function (key, value) {
          });
        }
      });

    },

    editDueDate() {
      this.editingDueDate = true
    },

    taskOverdue(date) {
      var now = new Date();
      var due_date = Date.parse(date);
      if (due_date < now) return true;
      return false;
    },

    toggleCompleted() {

      axios.post(['/api/update/task/completed'], {['id']: this.item.id}).then(response => {
        if (this.item.completed == 1) this.item.completed = 0;
        else this.item.completed = 1;
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
          $.each(this.errors, function (key, value) {
          });
        }
      });

    },

    trashItem() {

      this.$bvModal.msgBoxConfirm(this.$t('sure_trash_task'))
      .then(value => {
        if (value) {
          axios.delete(['/api/tasks/'+this.item.id]).then(response => {
            this.trashed = true
          }).catch(error => {
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
              $.each(this.errors, function (key, value) {
              });
            }
          });
        }

      })
      .catch(err => {

      })
      
    },

  },

}
</script>


<style lang="scss">
.show-due-date {
  cursor: pointer;
}
</style>
