<template>

  <div class="text-center mt-5 mb-5">

    <h4>{{ $t('onboarding_no_projects') }}</h4>
    <p><img src="/img/vector/start-nothing.jpg"/></p>

    <router-link :to="{ name: 'project.add' }">
      <b-button variant="success">
        {{ $t('onboarding_no_projects_add') }}
      </b-button>
    </router-link>

  </div>
</template>