<template>

  <div>
    
    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>


      <div class="row header" v-if="!hidetitle">
        <div class="col-12 col-sm-9">
          <h3 class="mb-4">
            {{ project[0].name }} / {{ $t('kanban') }}
          </h3>
        </div>
        <div class="col-12 col-sm-3 text-right menu-upright">
          <ProjectNav :id="id"/>
        </div>
      </div>
    
      <div id="kanban">

        <div class="card-scene">
          <Container
            orientation="horizontal"
            @drop="onColumnDrop($event)"
            drag-handle-selector=".column-drag-handle"
            @drag-start="dragStart"
            :drop-placeholder="upperDropPlaceholderOptions"
          >

            <Draggable v-for="(column, indice) in scene.children" :key="column.id">
              <div :class="column.props.className">

                <div class="card-column-header row">

                  <div class="col-10">

                    <span class="icon-delete pull-right mr-1" v-if="(column.children.length == 0)">
                      <a @click="deletePanel(indice, column.id)">
                        <img src="/img/ico-trash.svg"/>
                      </a>
                    </span>

                    <span class="name-now" id="name-now">
                      <span id="tkName" @click="editName(column.id)" v-if="(!editingPanel || (editingPanel && editingPanelIndex != column.id))">
                        {{ column.name }}
                      </span>
                      <span id="tkNameEdit" v-if="(editingPanel && editingPanelIndex == column.id)">
                        <b-input class="inline-input" v-model="column.name" @change="storeName(column.id, indice)" v-on:keydown.enter.prevent='storeName(column.id, indice)'/>
                      </span>
                    </span>

                  </div>

                  <div class="col-2 text-right">
                    <span class="column-drag-handle float-right">
                      <img src="/img/ico-dots-horizontal.svg" class="mr-2"/>
                    </span>
                  </div>

                </div>
  
                <Container
                  group-name="col"
                  @drop="(e) => onCardDrop(column.id, e)"
                  @drag-start="(e) => log('drag start', e)"
                  @drag-end="(e) => log('drag end', e)"
                  :get-child-payload="getCardPayload(column.id)"
                  drag-class="card-ghost"
                  drop-class="card-ghost-drop"
                  :drop-placeholder="dropPlaceholderOptions"
                >
                  <Draggable v-for="(card, indiceCard) in column.children" :key="card.id">

                    <div :class="card.props.className" v-if="!card.archived" style="ghostwhite">

                      <div class="task-elements" :style="card.props.style">

                        <span class="icon-focus pull-left mr-2" v-if="(card.focus == 0)" v-b-tooltip.hover :title="$t('mark_as_focus')">
                          <a @click="toggleFocus(indice, indiceCard, card.id)" class="pointer">
                            <BIconStar/>
                          </a>
                        </span>
                        <span class="icon-focus pull-left mr-2" v-else v-b-tooltip.hover :title="$t('unmark_as_focus')">
                          <a @click="toggleFocus(indice, indiceCard, card.id)" class="pointer">
                            <BIconStarFill/>
                          </a>
                        </span>

                        <span v-if="card.dueDate" v-html="card.show_formatted_due_date"></span>

                      </div>

                      <div class="task-contents" v-b-modal="'modal'+card.id" v-on:click="assignCurrentTask(card.id, indiceCard, indice)">
                        <h5>{{ card.name }}</h5>
                        <p>{{ card.excerpt }}</p>
                      </div>

                      <div>
                        <b-modal :id="'modal'+card.id" size="xl" class="modalTask" centered header-class="d-none" footer-class="d-none">
                          <Task :id="card.id"/>
                        </b-modal>
                      </div>

                    </div>
                  </Draggable>
                </Container>

                <div class="mt-2">
                  <b-button v-b-modal.newTask @click="createTaskInPanel(column.id)" variant="outline-success" class="w-100 mb-2">
                    <i class="fa fa-plus text-black"></i> 
                    {{ $t('add_task')}} 
                  </b-button>
                </div>

              </div>

            </Draggable>

            <b-button v-b-modal.newPanel class="add-panel">
              <img src="/img/ico-add.svg"/>
              {{ $t('add_panel')}} 
            </b-button>

          </Container>

        </div>

      </div>

      <b-modal id="newTask" centered :title="$t('add_task')" @ok="handleNewTask">
        <b-input
          class="mb-2 w-100"
          :placeholder="$t('task_name')"
          v-model="newTaskName"
        ></b-input>  
      </b-modal>

      <b-modal id="newPanel" centered :title="$t('add_panel')" @ok="handleNewPanel">
        <b-input
          class="mb-2 w-100"
          :placeholder="$t('panel_name')"
          v-model="newPanelName"
        ></b-input>  
      </b-modal>
      
    </div>

  </div>

</template>

<script>
import Task from '../tasks/Task'
import { Container, Draggable } from 'vue-smooth-dnd'
import { applyDrag, generateItems } from './helpers'
import ProjectNav from './ProjectNav.vue';

const cardColors = [
  'white',  // standard
  'lightgreen', // standard 2?
  'ghostwhite',  // overdue
  'azure',
  'khaki', // warning...
  'bisque'
]

const pickColor = (completed) => {
  var which = 0;
  if (completed == 1) which = 1;
  return cardColors[which]
}

export default {
  middleware: 'auth',

  name: 'Cards',
  components: {
    Container,
    Draggable,
    Task,
    ProjectNav,
  },

  props: ['projectId', 'hidetitle'],

  data: () => ({
    loaded: false,
    id: null,
    project: Array,
    tasks: Array,
    items: Array,
    trashing: false,
    newTaskOpen: false,
    form: {
      name: '',
      project_id: null,
    },

    scene: Object,
    currentTaskId: null,
    currentTaskIndex: null,
    currentPanelIndex: null,
    newTaskName: null,
    newTaskPanelId: null,
    newPanelName: null,

    upperDropPlaceholderOptions: {
      className: 'cards-drop-preview',
      animationDuration: '150',
      showOnTop: true
    },
    dropPlaceholderOptions: {
      className: 'drop-preview',
      animationDuration: '150',
      showOnTop: true
    },

    editingPanel: false,
    editingPanelIndex: 0,

  }),

  computed: {
    subscription () {
      return this.$store.state.subscription.subscription
    }
  },
  
  mounted () {

    this.$root.$on('bv::modal::hide', (bvEvent, modalId) => {
      this.refreshKanBan();
    })

    this.id = this.$route.params.id
    if (this.$props.projectId > 0) this.id = this.$props.projectId
    this.refreshKanBan()
    
  },  

  methods: {

    refreshKanBan() {

      var that = this

      axios
      .all([
        axios.post('/api/task/kanban', {projectId:that.id}),
        ])
          .then(
          axios.spread(
            function (project) {
              that.loaded = true
              that.project = project.data.data
              that.form.project_id = project.data.data.id
              that.setTabTasks()
            }
      ))

    },



    toggleFocus(index, indiceCard, idTask) {

      var obj = {['id']: idTask}

      axios.post(['/api/update/task/focus'], obj, this.headers).then(response => {
        if (this.scene.children[index].children[indiceCard].focus == 1) this.scene.children[index].children[indiceCard].focus = 0
        else this.scene.children[index].children[indiceCard].focus = 1
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
          $.each(this.errors, function (key, value) {
          });
        }
      });

    },

    createTaskInPanel(id) {
      this.newTaskPanelId = id
    },

    assignCurrentTask(id, cardIndex, panelIndex) {
      this.currentTaskId = id
      this.currentTaskIndex = cardIndex
      this.currentPanelIndex = panelIndex
    },

    setTabTasks() {

      if (this.loaded) {

        this.scene = {
          type: 'container',
          props: {
            orientation: 'horizontal'
          },
          children: generateItems(this.project[0].boards.length, i => ({
            id: this.project[0].boards[i].id,
            type: 'container',
            name: this.project[0].boards[i].name,
            project_nature: this.project[0].project_nature,
            props: {
              orientation: 'vertical',
              className: 'card-container'
            },
            children: generateItems(this.project[0].boards[i].tasks.length, j => ({
              type: 'draggable',
              id: this.project[0].boards[i].tasks[j].id,
              props: {
                className: 'card',
                style: {backgroundColor: pickColor(this.project[0].boards[i].tasks[j].completed)}
              },
              dueDate: this.project[0].boards[i].tasks[j].due_date,
              show_formatted_due_date: this.project[0].boards[i].tasks[j].show_formatted_due_date,
              name: this.project[0].boards[i].tasks[j].name,
              excerpt: this.project[0].boards[i].tasks[j].excerpt,
              archived: this.project[0].boards[i].tasks[j].archived,
              focus: this.project[0].boards[i].tasks[j].focus,
              project_id: this.project[0].boards[i].tasks[j].project_id,
            }))
          }))
        };

      }

    },

    onColumnDrop (dropResult) {
      const scene = Object.assign({}, this.scene)
      scene.children = applyDrag(scene.children, dropResult)
      this.scene = scene
      this.saveKanBanScene()
    },

    onCardDrop (columnId, dropResult) {
      if (dropResult.removedIndex !== null || dropResult.addedIndex !== null) {
        const scene = Object.assign({}, this.scene)
        const column = scene.children.filter(p => p.id === columnId)[0]
        const columnIndex = scene.children.indexOf(column)
        const newColumn = Object.assign({}, column)
        newColumn.children = applyDrag(newColumn.children, dropResult)
        scene.children.splice(columnIndex, 1, newColumn)
        this.scene = scene
        this.saveKanBanScene()
      }
    },

    getCardPayload (columnId) {
      return index => {
        return this.scene.children.filter(p => p.id === columnId)[0].children[index]
      }
    },


    saveKanBanScene() {

      axios.post('/api/task/kanban/save', this.scene).then(response => {

      }).catch(error => {
        this.loaded = true;
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
          $.each(this.errors, function (key, value) {
          });
        }
      });

    },

    deletePanel(index, idPanel) {

      this.scene.children.splice(index, 1)

      axios.delete(['/api/boards/'+idPanel]).then(response => {
        this.$bvToast.toast(`Board succesfully removed`, {
          variant: 'success',
          noCloseButton: true,
          autoHideDelay: 1500,
        })

      }).catch(error => {
        this.loaded = true;
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
          $.each(this.errors, function (key, value) {
          });
        }
      });

    },

    editName(index) {
      this.editingPanel = true;
      this.editingPanelIndex = index;
    },

    storeName(id, index) {

      var nName = this.scene.children[index].name

      var obj = {
        ['id']: id,
        ['name']: nName,
      }

      axios.post('/api/task/kanban/rename/panel', obj).then(response => {
        this.editingPanel = false;
        this.editingPanelIndex = 0;
        this.$bvToast.toast(`Board name succesfully changed`, {
          variant: 'success',
          noCloseButton: true,
          autoHideDelay: 1500,
        })
      }).catch(error => {
        this.editingTask = true;
      });

    },



    taskOverdue(date) {
      var now = new Date();
      var due_date = Date.parse(date);
      if (due_date < now) return true;
      return false;
    },

    handleNewTask() {
      if (this.newTaskName != "") {
        const datos = {}
        datos['name'] = this.newTaskName
        datos['pId'] = this.newTaskPanelId
        axios.post('/api/task/kanban/create', datos).then(response => {
          this.refreshKanBan();
          this.newTaskName = '';
        }).catch(error => {
          this.loaded = true;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
            $.each(this.errors, function (key, value) {
            });
          }
        });
       }
    },

    handleNewPanel() {
      if (this.newPanelName != "") {
        const datos = {}
        datos['name'] = this.newPanelName
        datos['projectId'] = this.project[0].id
        axios.post('/api/boards', datos).then(response => {
          this.refreshKanBan();
          this.newPanelName = '';
        }).catch(error => {
          this.loaded = true;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
            $.each(this.errors, function (key, value) {
            });
          }
        });
       }
    },

    dragStart () {

    },

    log (...params) {

    }

  }

}
</script>


<style lang="scss">
div#kanban {
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding-bottom: 1em;

  .draggable-item {
      height: 50px;
      line-height: 50px;
      text-align: center;
      display: block;
      background-color: #fff;
      outline: 0;
      border: 1px solid rgba(0, 0, 0, .125);
      margin-bottom: 2px;
      margin-top: 2px;
      cursor: default;
      user-select: none;
  }

  .draggable-item-horizontal {
      height: 300px;
      padding: 10px;
      line-height: 100px;
      text-align: center;
      /* width : 200px; */
      display: block;
      background-color: #fff;
      outline: 0;
      border: 1px solid rgba(0, 0, 0, .125);
      margin-right: 4px;
      cursor: default;
  }

  .dragging {
      background-color: yellow;
  }

  .card-scene {
      overflow-x: auto;
      height: 100%;
      min-height: 600px;
      /* background-color: #fff; */
  }

  .card-container {
    width: 340px;
    padding: 0.5em 1em;
    background: #bdbdbd40;
    border-radius: 20px;
    margin-right: 20px;
  }

  .card-scene .card {
    background: #FFFFFF;
    border: 1px solid #BDBDBD !important;
    box-sizing: border-box;
    border-radius: 5px !important;
    margin-bottom: 10px;
  }

  .card-column-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 5px;
    margin: 5px;
    color: #19272B;
  }

  .card-column-header .icon-delete {
    display: none;
    margin-right: 1em;
  }

  .card-column-header:hover .icon-delete {
    display: inline;
    cursor: pointer;
  }

  .column-drag-handle {
      cursor: move;
  }

  .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg)
  }

  .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg)
  }

  .opacity-ghost {
      transition: all .18s ease;
      opacity: 0.8;
      /* transform: rotateZ(5deg); */
      background-color: cornflowerblue;
      box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
  }

  .opacity-ghost-drop {
      opacity: 1;
      /* transform: rotateZ(0deg); */
      background-color: white;
      box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.0);
  }


  .form-demo {
      width: 650px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      display: flex
  }

  .form {
      flex: 3;
      /* width: 500px; */
      /* background-color: #f3f3f3; */
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: 6px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.08);
  }

  .form-fields-panel {
      flex: 1;
      margin-right: 50px;
  }


  .form-ghost {
      transition: 0.18s ease;
      box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.08);
  }

  .form-ghost-drop {
      box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.0);
  }

  .drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px;
  }

  .cards-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }

  .task-contents {
    padding: 10px;
    border-top: none;
    color: #676767;
    font-size: 14px;
  }

  .task-contents h5 {
    font-size: 18px;
    color: black;
  }

  .task-elements {
    padding: 10px;
    background: none;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
  }

  .badge-due-date {
    font-size: 14px;
    width: 100px;
  }

  .icon-play-timer {
    margin-left: auto;
  }

  .add-task-area {
    width: 100%;
    padding: 0.7em;
    background: #73ACB8;  
    color: white;
    margin-bottom: 1em;
    border-radius: 5px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  } 

  .add-task-area i {
    margin-right: 0.5em;
  }

  .add-panel {
    padding: 0.7em;
    padding-right: 2em;
    background: transparent;  
    color: #73ACB8;
    margin-bottom: 1em;
    border-radius: 5px;
    border: none;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }   

  .add-panel img {
    margin-right: 0.5em;
  }

  .icon-focus {
    font-size: 13px;
  }
}
</style>
