<template>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <div class="row header">
        <div class="col-12 col-sm-9">
          <h3 class="mb-4">
            {{ project.name }} / {{ $t('economics')}}
          </h3>
        </div>
        <div class="col-12 col-sm-3 text-right menu-upright">

          <h2 class="ml-2 pointer" v-b-modal.add-income>
            <BIconPlusCircleFill @click='toggleNewTask()' variant="success" v-b-tooltip.hover :title="$t('add_registry')"/>
          </h2>

          <ProjectNav :id="projectId"/>

        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">

          <h3>{{ $t('incomes') }}</h3>
          <card class="mb-4">

            <b-table
              :items="incomes"
              :fields="fields"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              responsive="sm"
            ></b-table>

          </card>

        </div>
        <div class="col-12 col-md-6">

          <h3>{{ $t('outcomes') }}</h3>
          <card class="mb-4">

            <b-table
              :items="outcomes"
              :fields="fields"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              responsive="sm"
            ></b-table>

          </card>

        </div>
      </div>


      <b-modal ref="modalIncomes" centered id="add-income" :title="$t('add_registry')" ok-only ok-variant="secondary" :ok-title="$t('cancel')">

        <b-form @submit="onSubmit" class="m-1">

          <div class="row mb-4">

            <div class="col-6">
              <b-button @click="changeType('income')" class="w-100" variant="outline-success" v-bind:class="{ isIncome: isIncome }">
                {{ $t('income') }}
              </b-button>
            </div>
            <div class="col-6">
              <b-button @click="changeType('outcome')" class="w-100" variant="outline-danger" v-bind:class="{ isExpense: isExpense }">
                {{ $t('outcome') }}
              </b-button>
            </div>
          </div>

          <div class="row mb-4">

            <div class="col-12">
              <b-form-group class="mb-4" :label="$t('subject')">
                <b-form-input size="lg" v-model="form.name" required></b-form-input>
              </b-form-group>
            </div>

            <div class="col-6 col-md-6">
              <b-form-group class="mb-4" :label="$t('amount')">
                <b-form-input type="number" v-model="form.amount" step="any" required></b-form-input>
              </b-form-group>
            </div>

            <div class="col-6 col-md-6">
              <b-form-group class="mb-4" :label="$t('date')">
                <date-picker v-model="form.date" required type="datetime" format="YYYY-MM-DD"></date-picker>
              </b-form-group>
            </div>

          </div>

          <b-button size="lg" type="submit" variant="primary" v-if="(form.type == 'income')">{{ $t('add_income') }}</b-button>
          <b-button size="lg" type="submit" variant="primary" v-else>{{ $t('add_expense') }}</b-button>

        </b-form>

      </b-modal>

  </div>

</template>

<script>
import ProjectNav from './ProjectNav.vue';

export default {
  middleware: 'auth',

  components: {
    ProjectNav,
  },

  data: () => ({
    loaded: false,
    projectId: false,
    project: [],
    form: {
      id: null,
      type: 'income',
      project_id: null,
      name: null,
      date: null,
      amount: null,
    },
    isIncome: true,
    isExpense: false,
    incomes: [],
    outcomes: [],
    fields: [
      { key: 'name', sortable: true },
      { key: 'show_amount', sortable: true},
      { key: 'date', sortable: true },
    ],
    sortBy: 'end',
    sortDesc: true,
  }),

  mounted () {

    if (this.$route.params.id) this.projectId = this.$route.params.id;

    var today = new Date();
    this.form.date = today.getFullYear()+'-'+today.getMonth()+'-'+today.getDate();

    this.loadTimeEntries()

  },  

  methods: {

    loadTimeEntries() {

      this.loaded = false

      var that = this
      axios
      .all([
        axios.get(`/api/projects/`+that.projectId),
        axios.post(['/api/project/incomes'], {id:that.projectId}),
        axios.post(['/api/project/outcomes'], {id:that.projectId}),
        ])
          .then(
          axios.spread(
            function (project, incomes, outcomes) {
              that.project = project.data.data
              that.incomes = Object.values(incomes.data.data)
              that.outcomes = Object.values(outcomes.data.data)
              that.form.project_id = that.projectId
              that.loaded = true
            }
      ))

    },

    changeType(what) {
      this.form.type = what
      if (this.form.type == 'outcome') {
        this.isIncome = false
        this.isExpense = true
      } else {
        this.isIncome = true
        this.isExpense = false
      }
    },

    onSubmit(evt) {
      evt.preventDefault()

      this.form.project_id = this.projectId

      var obj = this.form
      var that = this

      if (this.isExpense) {

        axios.post('/api/outcomes', obj).then(response => {
          that.loadTimeEntries() 
        }).catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
            $.each(this.errors, function (key, value) {
            });
          }
        });

      } else {

        axios.post('/api/incomes', obj).then(response => {
          that.loadTimeEntries() 
        }).catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
            $.each(this.errors, function (key, value) {
            });
          }
        });

      }

    },

  }

}
</script>


<style lang="scss">
.isIncome {
  background: green;
  color: white;
}

.isExpense {
  background: red;
  color: white;
}
</style>
