<template>

  <div v-if="!loaded">
    <div class="spinner-border text-secondary" role="status"></div>
  </div>

  <div v-else>

    <div class="row header">
      <div class="col-12 col-sm-6">
        <h3 class="mb-4">
          {{ project.name }} / {{ $t('registro_hours')}}
        </h3>
      </div>
      <div class="col-12 col-sm-6 text-right menu-upright">

        <h2 class="ml-2 pointer" v-b-modal.add-time-entry>
          <BIconPlusCircleFill @click='toggleNewTask()' variant="success" v-b-tooltip.hover :title="$t('add_time_entry')"/>
        </h2>

        <ProjectNav :id="projectId"/>

      </div>
    </div>

    <card>

      <b-table
        :items="items"
        :fields="fields"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        responsive="sm"
      ></b-table>

    </card>

    <b-modal centered id="add-from-toggl" :title="$t('import_from_toggl')">
      <div class="my-4">
        <TogglHours :id="projectId"></TogglHours>
      </div>
    </b-modal>

    <b-modal ref="modalHours" centered id="add-time-entry" :title="$t('add_time_entry')" ok-only ok-variant="secondary" :ok-title="$t('cancel')">

      <b-form @submit="onSubmit" class="m-1">

        <div class="row mb-4">

          <div class="col-12">
            <b-form-group class="mb-4" :label="$t('task_name')">
              <b-form-input size="lg" v-model="form.name" required></b-form-input>
            </b-form-group>
          </div>

          <div class="col-6 col-md-6">
            <b-form-group class="mb-4" :label="$t('date')">
              <date-picker v-model="form.start" required type="datetime" format="YYYY-MM-DD HH:mm"></date-picker>
            </b-form-group>
          </div>

          <div class="col-6 col-md-6">
            <b-form-group class="mb-4" :label="$t('duration')">
              <b-form-input type="number" v-model="form.minutes" required></b-form-input>
            </b-form-group>
          </div>

          <div class="col-12">
            <b-form-checkbox v-model="form.billable" value="1" unchecked-value="0">
              {{ $t('billable') }}
            </b-form-checkbox>
          </div>

        </div>

        <b-button size="lg" type="submit" variant="primary">{{ $t('add_time_entry') }}</b-button>

      </b-form>

    </b-modal>

  </div>

</template>

<script>
import TogglHours from './integrations/TogglHours.vue';
import ProjectNav from './ProjectNav.vue';

export default {
  middleware: 'auth',

  components: {
    TogglHours,
    ProjectNav,
  },

  data: () => ({
    loaded: false,
    projectId: false,
    form: {
      id: null,
      project_id: null,
      name: null,
      start: null,
      minutes: 60,
      billable: 0,
    },
    items: [],
    hours: [],
    project: [],
    sortBy: 'end',
    sortDesc: true,
    fields: [
      { key: 'name', sortable: true },
      { key: 'start', sortable: true },
      { key: 'end', sortable: true },
      { key: 'hours', sortable: true },
      { key: 'billable', sortable: true },
      { key: 'pending', sortable: true }
    ],
  }),

  computed: {
    subscription () {
      return this.$store.state.subscription.subscription
    },
    token_toggl () {
      return this.$store.state.auth.user.token_toggl
    }
  },

  mounted () {

    this.$root.$on('bv::modal::hide', (bvEvent, modalId) => {
      this.loadTimeEntries();
    })

    if (this.$route.params.id) this.projectId = this.$route.params.id;

    this.loadTimeEntries()

  },  

  methods: {

    loadTimeEntries() {

      this.loaded = false

      var that = this
      axios
      .all([
        axios.get(`/api/projects/`+that.projectId),
        axios.post(['/api/project/hours'], {id:that.projectId}),
        ])
          .then(
          axios.spread(
            function (project, hours) {
              that.project = project.data.data
              that.hours = hours.data.data
              that.loaded = true
              that.init()
            }
      ))

    },

    init() {
      this.items = Object.values(this.hours)
    },

    onSubmit(evt) {
      evt.preventDefault()

      this.form.project_id = this.projectId

      var that = this
      axios
      .all([
        axios.post(['/api/hours/add'], {hours:Object.values([that.form])}),
        ])
          .then(
          axios.spread(
            function (hours) {
              that.loadTimeEntries() 
            }
      ))


    },

  }

}
</script>


<style lang="scss">

</style>
