<template>

  <div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <div v-if="trashed">
        <p class="text-center">{{ $t('trashed_ok_project') }}</p>
      </div>
      <div v-else>

        <div class="row header">
          <div class="col-8 col-sm-8">

            <h3 class="mb-4">
              
              <router-link :to="{ name: 'project.edit', params: { id: project.id } }" class="mr-2">
                <BIconPencilSquare variant="secondary" h2 v-b-tooltip.hover :title="$t('edit')"/>
              </router-link>

              {{ title }}

            </h3>

          </div>
          <div class="col-4 col-sm-4 text-right menu-upright">
            <ProjectNav :id="project.id"/>
          </div>
        </div>

        <div class="row mb-3" v-if="(project.type != 'free')">

          <div class="col-12 col-sm-4">
            <card class="data-box" :title="$t('total_benefit')">
              <div><img src="/img/ico-money-rise.svg"/></div>
              <div class="price">{{ project.benefit }}</div>
            </card>
          </div>

          <div class="col-12 col-sm-4">
            <card class="data-box" :title="$t('price_hour_card_explained')">
              <div><img src="/img/ico-pricehour.svg"/></div>
              <div>
                <span class="orange bold">{{ project.price_hour }}</span>
                <span class="gray"> / {{ project.desired_price_hour }}</span>
              </div>
            </card>
          </div>

          <div class="col-12 col-sm-4">
            <card class="data-box" :title="$t('timer_card_explained')">
              <div><img src="/img/ico-timer-big.svg"/></div>
              <div>
                <span class="lila bold">{{ project.hours }}</span>
                <span class="gray"> / {{ project.hours_estimated }}</span>
              </div>
            </card>
          </div>

        </div>


        <div class="row mb-3">

          <div class="col-12 col-sm-4">
            <card class="data-box" :title="$t('incomes_card_explained')">
              <div><img src="/img/ico-money-earned.svg"/></div>
              <div class="green">{{ project.incomes }}</div>
            </card>
          </div>

          <div class="col-12 col-sm-4">
            <card class="data-box" :title="$t('incomes_pending_card_explained')">
              <div><img src="/img/ico-money-big.svg"/></div>
              <div class="green">{{ project.estimated_earnings_pending }}</div>
            </card>
          </div>

          <div class="col-12 col-sm-4">
            <card class="data-box" :title="$t('outcomes_card_explained')">
              <div><img src="/img/ico-money-big.svg"/></div>
              <div class="red">{{ project.outcomes }}</div>
            </card>
          </div>

        </div>

        <hr class="mt-5"/>

        <div class="row">
          <div class="col-6">

            <h2 class="ml-2">
              <BIconTrash @click="trashItem()" variant="danger" class="archive-icon pointer pull-right" v-b-tooltip.hover :title="$t('tash_project')"/>
            </h2>

          </div>
          <div class="col-6 text-right menu-upright">

            <h2 class="ml-2">
              <BIconCheckAll @click="toggleFinish()" class="archive-icon pointer pull-right" v-if="(project.finished == 0)" v-b-tooltip.hover :title="$t('finish_project')"/>
              <BIconCheckAll variant="success" @click="toggleFinish()" class="archive-icon pointer pull-right" v-else v-b-tooltip.hover :title="$t('reopen_project')"/>
            </h2>

            <h2 class="ml-2">
              <BIconArchive @click="toggleArchive()" class="archive-icon pointer pull-right" v-if="(project.archived == 0)" v-b-tooltip.hover :title="$t('archive_project')"/>
              <BIconArchiveFill variant="warning" @click="toggleArchive()" class="archive-icon pointer pull-right" v-else v-b-tooltip.hover :title="$t('unarchive_project')"/>
            </h2>

          </div>
        </div>

      </div>

    </div>

  </div>

</template>

<script>
import ProjectNav from './ProjectNav.vue';

export default {
  middleware: 'auth',

  components: {
    ProjectNav,
  },

  data: () => ({
    loaded: false,
    trashed: false,
    title: '...',
    id: null,
    project: Array,
  }),

  computed: {
    subscription () {
      return this.$store.state.subscription.subscription
    }
  },
  
  mounted () {

    this.id = this.$route.params.id;

    var that = this
    axios
    .all([
      axios.get(`/api/projects/`+that.id),
      ])
        .then(
        axios.spread(
          function (project) {
            that.loaded = true
            that.project = project.data.data
            that.title = project.data.data.name
          }
    ))

  },  

  methods: {

    toggleArchive() {

      var obj = {['id']: this.project.id}

      axios.post(['/api/update/project/archive'], obj).then(response => {
        if (this.project.archived == 1) {
          this.$bvToast.toast(`Project succesfully unarchived`, {
            variant: 'success',
            noCloseButton: true,
            autoHideDelay: 1500,
          })
          this.project.archived = 0
        } else {
          this.$bvToast.toast(`Project succesfully archived`, {
            variant: 'success',
            noCloseButton: true,
            autoHideDelay: 1500,
          })
          this.project.archived = 1
        }
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
          $.each(this.errors, function (key, value) {
          });
        }
      });

    },

    toggleFinish() {

      var obj = {['id']: this.project.id}

      axios.post(['/api/update/project/finish'], obj).then(response => {
        if (this.project.finished == 1) {
          this.$bvToast.toast(`Project succesfully reopened`, {
            variant: 'success',
            noCloseButton: true,
            autoHideDelay: 1500,
          })
          this.project.finished = 0
        } else {
          this.$bvToast.toast(`Project succesfully fsinished`, {
            variant: 'success',
            noCloseButton: true,
            autoHideDelay: 1500,
          })
          this.project.finished = 1
        }
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
          $.each(this.errors, function (key, value) {
          });
        }
      });

    },


    trashItem() {

      this.$bvModal.msgBoxConfirm(this.$t('sure_trash_project'))
      .then(value => {
        if (value) {
          axios.delete(['/api/projects/'+this.project.id]).then(response => {
            this.trashed = true
          }).catch(error => {
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
              $.each(this.errors, function (key, value) {
              });
            }
          });
        }

      })
      .catch(err => {

      })
      
    },

  }

}
</script>


<style lang="scss">
#project-dashboard {

}
</style>
