<template>

  <div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <div class="row header">
        <div class="col-12 col-sm-3 align-middle mb-3">
          <h3 class="m-0 ml-2">{{ $t('projects') }}</h3>
        </div>
        <div class="col-8 col-sm-8">

          <div class="row" id="project-status-filters">

            <div class="col-12 col-sm-3" @click="filterFocused()">
              <card class="data-box pointer">
                <div>
                  <BIconCheckCircleFill class="mr-2"/>
                </div>
                <div>
                  <span class="green bold">{{ counters.active }}</span>
                  <span class="gray">{{ $t('active') }}</span>
                </div>
              </card>
            </div>

            <div class="col-12 col-sm-3" @click="filterPaused()">
              <card class="data-box pointer">
                <div>
                  <BIconPauseFill class="mr-2"/>
                </div>
                <div>
                  <span class="orange bold">{{ counters.paused }}</span>
                  <span class="gray">{{ $t('paused') }}</span>
                </div>
              </card>
            </div>

            <div class="col-12 col-sm-3" @click="filterFinish()">
              <card class="data-box pointer">
                <div>
                  <BIconCheck class="mr-2"/>
                </div>
                <div>
                  <span class="gray bold">{{ counters.finished }}</span>
                  <span class="gray">{{ $t('finished') }}</span>
                </div>
              </card>
            </div>

            <div class="col-12 col-sm-3" @click="filterArchive()">
              <card class="data-box pointer">
                <div>
                  <BIconCheck class="mr-2"/>
                </div>
                <div>
                  <span class="gray bold">{{ counters.archived }}</span>
                  <span class="gray">{{ $t('archived') }}</span>
                </div>
              </card>
            </div>

          </div>

        </div>
        <div class="col-4 col-sm-1 text-right menu-upright">
          <router-link :to="{ name: 'projects.order' }" v-if="(items.length >= 1)">
            <h2 v-b-tooltip.hover :title="$t('order_projects')">
              <BIconArrowDownUp variant="secondary"/>
            </h2>
          </router-link>

          <router-link :to="{ name: 'project.add' }">
            <img src="/img/ico-add.svg"/>
          </router-link>

        </div>
      </div>



      <card id="project-list">

        <div v-if="(items.length == 0)">
          <NoProjects/>
        </div>

        <div v-else>

          <div class="row slot-project" v-for="(item, index) in items" :index="parseInt(index)" :key="parseInt(index)" :value="item" v-if="checkIfShow(item)">

            <div class="col-10 col-sm-6">

              <div class="row">

                <div class="col-sm-1 col-1 text-center pt-3">
                  <span v-if="item.archived === 0 && item.finished === 0">
                    <BIconStar @click="toggleFocus(index, item.id)" class="pointer pull-right" v-if="(item.focus == 0)" v-b-tooltip.hover :title="$t('mark_as_focus')"/>
                    <BIconStarFill @click="toggleFocus(index, item.id)" class="pointer pull-right" v-else v-b-tooltip.hover :title="$t('unmark_as_focus')"/>
                  </span>
                </div>

                <div class="col-sm-11 col-10">
                  <div class="image-and-name">
                    <router-link :to="{ name: 'project.home', params: { id: item.id } }">
                      <div class="item-thumbnail">
                        <img :src="'/project/thumbnail/'+item.id"/>
                      </div>
                    </router-link>
                    <div class="name-and-client">
                      <span class="project-name">
                        <router-link :to="{ name: 'project.home', params: { id: item.id } }">
                          {{ item.name }}
                        </router-link>
                      </span>
                      <span class="client-name">{{ item.client }}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-2 col-sm-1 tet-center">
              <router-link :to="{ name: 'project.kanban', params: { id: item.id } }">
                <h4>
                  <span class="badge badge-secondary" v-if="(item.tasks_count) > 0">
                    {{ item.tasks_count }}
                  </span>
                </h4>
              </router-link>
            </div>

            <div class="hidden-mobile col-4 col-sm-1 text-left text-sm-right" v-if="(item.type == 'hours')">
              <div class="pending" v-b-tooltip.hover :title="$t('hours_pending_explain')">{{ item.hours_pending }}</div>
              <div class="desired" v-b-tooltip.hover :title="$t('hours_confirmed')">{{ item.hours_confirmed }}</div>
            </div>

            <div class="hidden-mobile col-4 col-sm-1 text-left text-sm-right" v-else>
              <div class="real" v-b-tooltip.hover :title="$t('hours_explain')" v-if="!item.overworked">{{ item.hours }}</div>
              <div class="real red" v-b-tooltip.hover :title="$t('hours_explain')" v-else><nobr><BIconExclamationCircle/> {{ item.hours }}</nobr></div>
              <div class="desired" v-b-tooltip.hover :title="$t('hours_estimated_explain')">{{ item.hours_estimated }}</div>
            </div>

            <div class="hidden-mobile col-4 col-sm-2 text-center text-sm-right" v-if="(item.type != 'free')">
              <div class="real" v-b-tooltip.hover :title="$t('price_hour_explain')">{{ item.price_hour }}</div>
              <div class="desired" v-b-tooltip.hover :title="$t('desired_price_hour_explain')">{{ item.desired_price_hour }}</div>
            </div>

            <div class="hidden-mobile scol-4 col-sm-2 text-right" v-if="(item.type != 'free')">
              <div v-if="(item-type == 'fixed')">
                <div class="price" v-b-tooltip.hover :title="$t('estimated_earnings_pending_explain_fixed')">{{ item.estimated_earnings_pending }}</div>
                <div class="desired" v-b-tooltip.hover :title="$t('final_benefit')">{{ item.benefit }}</div>
              </div>
              <div v-else>
                <div class="price" v-b-tooltip.hover :title="$t('estimated_earnings_pending_explain_hours')">{{ item.estimated_earnings_pending }}</div>
                <div class="desired" v-b-tooltip.hover :title="$t('final_benefit')">{{ item.benefit }}</div>
              </div>
            </div>

            <div class="hidden-mobile col-4 text-center" v-if="(item.type == 'free')">
              <p>{{ $t('free_project') }}</p>
            </div>

          </div>

        </div>

      </card>

    </div>

  </div>

</template>

<script>
import NoProjects from './NoProjects.vue';

export default {
  middleware: 'auth',

  data: () => ({
    loaded: false,
    focus: 1,
    archive: 0,
    finished: 0,
    projects: Array,
    counters: Array,
    items: Array,
  }),

  components: {
    NoProjects,
  },

  computed: {
    subscription () {
      return this.$store.state.subscription.subscription
    }
  },

  mounted () {
    this.loadProjects()
  },

  methods: {

    loadProjects() {
      var that = this
      axios
      .all([
        axios.get('/api/fetch/projects'),
        axios.get('/api/project/counters'),
        ])
          .then(
          axios.spread(
            function (projects, counters) {
              that.loaded = true
              that.projects = projects.data.data
              that.counters = counters.data.data
              that.prepareDrag()
            }
      ))
    },

    prepareDrag() {
      if (!this.finished) {
        this.items = Object.values(this.projects)
      }
    },

    filterFocus() {
      if (!this.finished) {
        this.focus = !this.focus
      }
    },

    filterFocused() {
      this.focus = 1
      this.finished = null
      this.archive = null;
    },

    filterPaused() {
      this.focus = 0
      this.finished = null
      this.archive = null;
    },

    filterArchive() {
      this.finished = 0
      this.archive = 1;
      this.focus = null;
    },

    filterFinish() {
      this.finished = 1
      this.archive = 0;
      this.focus = null;
    },

    checkIfShow(it) {
      if (this.finished == 1) {
        if (it.finished == 1) return true;
      } else if (this.archive == 1) {
        if (it.archived == 1 && it.finished == 0) return true;
      } else {
        if (it.focus == this.focus && it.finished == 0 && it.archived == 0) return true;
      }
      return false;
    },

    toggleFocus(index, projectId) {

      var obj = {['id']: projectId}

      axios.post(['/api/update/project/focus'], obj, this.headers).then(response => {
        if (this.items[index].focus == 1) this.items[index].focus = 0;
        else this.items[index].focus = 1;
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
          $.each(this.errors, function (key, value) {
          });
        }
      });

    },

  }

}
</script>


<style lang="scss">
#project-status-filters {
  .card.data-box {
    min-height: inherit;

    .card-body {
      font-size: 1.1em;
    }
  }
}

.image-and-name {
  display: flex;
  align-items: center;
}

.item-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  overflow: hidden !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;

  img {
    width: auto;
    max-height: 40px;
  }

}
</style>
