<template>

  <span class="nav">

    <router-link :to="{ name: 'project.kanban', params: { id: id } }">
      <h2 v-b-tooltip.hover :title="$t('kanban')">
        <BIconKanban variant="secondary"/>
      </h2>
    </router-link>

    <router-link :to="{ name: 'project.tasks', params: { id: id } }">
      <h2 v-b-tooltip.hover :title="$t('tasks')">
        <BIconListTask variant="secondary"/>
      </h2>
    </router-link>

    <router-link :to="{ name: 'project.hours', params: { id: id } }">
      <h2 v-b-tooltip.hover :title="$t('timer')">
        <BIconClockFill variant="secondary"/>
      </h2>
    </router-link>

    <router-link :to="{ name: 'project.economics', params: { id: id } }" class="ml-3">
      <h2 v-b-tooltip.hover :title="$t('economics')">
        <img src="/img/ico-money-rise.svg"/>
      </h2>
    </router-link>

    <router-link :to="{ name: 'project.home', params: { id: id } }" class="ml-3">
      <h2 v-b-tooltip.hover :title="$t('home')">
        <BIconHouseDoor variant="secondary"/>
      </h2>
    </router-link>

  </span>

</template>

<script>
export default {
  middleware: 'auth',
  props: ['id'],

  computed: {
    subscription () {
      return this.$store.state.subscription.subscription
    }
  },

}
</script>