<template>

  <div>

    <div class="row header" v-if="!hidetitle">
      <div class="col-9 col-sm-10 align-middle mb-3">
        <h3 class="m-0 ml-2">{{ $t('projects') }} / {{ $t('order_projects') }}</h3>
      </div>
      <div class="col-3 col-sm-2 text-right">
        <router-link :to="{ name: 'projects' }" class="ml-3">
          <h2>
            <BIconArrowLeftCircleFill variant="secondary"/>
          </h2>
        </router-link>
      </div>
    </div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <card id="project-list">

        <div v-if="(items.length == 0)">
          <NoProjects/>
        </div>

        <div v-else>

          <SortableList lockAxis="y" v-model="items" @input="saveOrder()" :distance="10">
            <SortableItem v-for="(item, index) in items" :index="parseInt(index)" :key="parseInt(index)" :value="item">

              <div class="row">

                <div class="col-sm-1 col-1 text-center">
                  <BIconStar @click="toggleFocus(index, item.id)" class="pointer pull-right" v-if="(item.focus == 0)" v-b-tooltip.hover :title="$t('unfocused')"/>
                  <BIconStarFill @click="toggleFocus(index, item.id)" class="pointer pull-right" v-else v-b-tooltip.hover :title="$t('focused')"/>
                </div>

                <div class="col-sm-1 col-2">
                  <div class="item-thumbnail">
                    <img :src="'/project/thumbnail/'+item.id"/>
                  </div>
                </div>

                <div class="col-sm-6 col-6">
                  <span class="project-name">{{ item.name }}</span>
                </div>

                <div class="col-sm-4 col-3">
                  <span class="client-name">{{ item.client }}</span>
                </div>

              </div>

            </SortableItem>
          </SortableList>

        </div>

      </card>

    </div>

  </div>

</template>

<script>
import { ContainerMixin, ElementMixin } from 'vue-slicksort';
import NoProjects from './NoProjects.vue';

const SortableList = {
  mixins: [ContainerMixin],
  template: `<div><slot /></div>`
};

const SortableItem = {
  mixins: [ElementMixin],
  props: ['item'],
  template: `<div class="slot-project"><slot /></div>`
};

export default {
  middleware: 'auth',

  props: ["hidetitle"],

  components: {
    ContainerMixin,
    ElementMixin,
    SortableItem,
    SortableList,
    NoProjects
  },

  data: () => ({
    loaded: false,
    focus: 1,
    projects: Array,
    items: Array,
  }),

  mounted () {
    this.loadProjects()
  },

  methods: {

    loadProjects() {
      var that = this
      axios
      .all([
        axios.get('/api/fetch/projects-active'),
        ])
          .then(
          axios.spread(
            function (projects) {
              that.loaded = true
              that.projects = projects.data.data
              that.prepareDrag()
            }
      ))
    },

    prepareDrag() {
      this.items = Object.values(this.projects)
    },

    filterFocus() {
      this.focus = !this.focus
    },

    toggleFocus(index, projectId) {

      var obj = {['id']: projectId}

      axios.post(['/api/update/project/focus'], obj, this.headers).then(response => {
        if (this.items[index].focus == 1) {
          this.items[index].focus = 0;
          this.$bvToast.toast(`Project unfocused`, {
            variant: 'success',
            noCloseButton: true,
            autoHideDelay: 1500,
          })

        } else {
          this.items[index].focus = 1;
          this.$bvToast.toast(`Project focused`, {
            variant: 'success',
            noCloseButton: true,
            autoHideDelay: 1500,
          })
        }
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
          $.each(this.errors, function (key, value) {
          });
        }
      });

    },

    saveOrder() {

      var arrayPass = [];
      this.items.forEach(key => {
        var object = [{
          'id': key.id,
        }];
        arrayPass.push(object);
      })

      axios.post(['/api/order/projects'], arrayPass).then(response => {
        this.$bvToast.toast(`Order succesfully stored`, {
          variant: 'success',
          noCloseButton: true,
          autoHideDelay: 1500,
        })
        this.loadProjects()
      }).catch(error => {
      });

    }

  }

}
</script>


<style lang="scss">
.item-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  overflow: hidden !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;

  img {
    width: auto;
    max-height: 40px;
  }

}
</style>
