<template>

  <div>

    <div class="row header">
      <div class="col-10 col-sm-8">
        <h3 class="mb-4">
          {{ $t('clients') }} / 
          <span v-if="(loadId == 0)">{{ $t('create')}}</span>
          <span v-else>{{ $t('update')}}</span>
        </h3>
      </div>
      <div class="col-2 col-sm-4 text-right">
        <router-link :to="{ name: 'clients' }">
          <h2>
            <BIconArrowLeftCircleFill variant="secondary"/>
          </h2>
        </router-link>
      </div>
    </div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

    <card>

        <div v-if="(!loadId && !subscriptionAllows())">

          <b-alert show>
            {{ $t('free_plan_only_allows_clients') }}
          </b-alert>

          <router-link :to="{ name: 'settings.subscription' }">
            <b-button variant="success" size="lg">
              {{ $t('subscribe_now') }}
            </b-button>
          </router-link>

        </div>

        <div v-else>

          <b-form @submit="onSubmit" v-if="show" class="m-5">

            <div class="row mb-5">

              <div class="col-12 mb-4">
                <b-form-group class="mb-4" :label="$t('client_name')">
                  <b-form-input size="lg" v-model="form.name" required></b-form-input>
                </b-form-group>
              </div>

              <div class="col-12 mb-4 col-lg-4">
                <b-form-group class="mb-4" :label="$t('client_contact')">
                  <b-form-input size="lg" v-model="form.contact"></b-form-input>
                </b-form-group>
              </div>

              <div class="col-12 mb-4 col-lg-4">
                <b-form-group class="mb-4" :label="$t('email')">
                  <b-form-input size="lg" v-model="form.email"></b-form-input>
                </b-form-group>
              </div>

              <div class="col-12 mb-4 col-lg-4">
                <b-form-group class="mb-4" :label="$t('phone')">
                  <b-form-input size="lg" v-model="form.phone"></b-form-input>
                </b-form-group>
              </div>

            </div>


            <div class="row mb-5">

              <div class="col-12 mb-4 col-lg-6">
                <b-form-group class="mb-4" :label="$t('vat_id')">
                  <b-form-input size="lg" v-model="form.vat_id"></b-form-input>
                </b-form-group>
              </div>

              <div class="col-12 mb-4 col-lg-6">
                <b-form-group class="mb-4" :label="$t('address')">
                  <b-form-input size="lg" v-model="form.address"></b-form-input>
                </b-form-group>
              </div>

              <div class="col-12 mb-4 col-lg-4">
                <b-form-group class="mb-4" :label="$t('zip')">
                  <b-form-input size="lg" v-model="form.zip"></b-form-input>
                </b-form-group>
              </div>

              <div class="col-12 mb-4 col-lg-4">
                <b-form-group class="mb-4" :label="$t('city')">
                  <b-form-input size="lg" v-model="form.city"></b-form-input>
                </b-form-group>
              </div>

              <div class="col-12 mb-4 col-lg-4">
                <b-form-group class="mb-4" :label="$t('country')">
                  <b-form-select size="lg" v-model="form.country_id" value-field="id" text-field="name" :options="countries" required></b-form-select>
                </b-form-group>
              </div>

            </div>



            <div class="row mb-5">

              <div class="col-12 mb-4">
                <b-form-group class="mb-4" :label="$t('notes')">
                  <b-form-textarea v-model="form.notes" rows="6" max-rows="20"></b-form-textarea>
                </b-form-group>
              </div>

            </div>


            <b-button type="submit" variant="primary">
              <span v-if="(loadId > 0)">{{ $t('update') }}</span>
              <span v-else>{{ $t('create') }}</span>
            </b-button>

          </b-form>

          </div>

      </card>

    </div>

  </div>

</template>

<script>
export default {
  middleware: 'auth',

  data: () => ({
    loaded: false,
    loadId: 0,
    countries: [],
    form: {
      name: '',
      contact: '',
      email: '',
      phone: '',
      vat_id: '',
      address: '',
      city: '',
      zip: '',
      country_id: '',
      notes: '',
    },
    client: [],
    show: true,
  }),

  mounted () {

    if (this.$route.params.id) this.loadId = this.$route.params.id;

    var that = this
    axios
    .all([
      axios.post(['/api/client/raw'], {id:that.loadId}),
      axios.get('/api/fetch/countries'),
      ])
        .then(
        axios.spread(
          function (client, countries) {
            that.client = client.data.data
            that.countries = countries.data.data
            if (that.loadId > 0) that.loadClientdata()
            that.loaded = true
          }
    ))

  },  

  computed: {
    subscription () {
      return this.$store.state.subscription.subscription
    }
  },

  methods: {

    loadClientdata() {
      this.form.id = this.client.id
      this.form.name = this.client.name
      this.form.contact = this.client.contact
      this.form.email = this.client.email
      this.form.phone = this.client.phone
      this.form.vat_id = this.client.vat_id
      this.form.address = this.client.address
      this.form.city = this.client.city
      this.form.zip = this.client.zip
      this.form.country_id = this.client.country_id
      this.form.notes = this.client.notes
    },

    subscriptionAllows() {
      if (!this.subscription.active && this.subscription.clients >= 2) return false
      return true
    },

    onSubmit(evt) {
      evt.preventDefault()


      // Update
      if (this.loadId > 0) {

        axios.put(['/api/clients/'+this.loadId], this.form).then(response => {
          this.$router.push({ name: 'clients' })
        }).catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
            $.each(this.errors, function (key, value) {
            });
          }
        });

      // Create
      } else {

        axios.post(['/api/clients'], this.form).then(response => {
            this.$router.push({ name: 'clients' })
        }).catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
            $.each(this.errors, function (key, value) {
            });
          }
        });
    
      }

    },

  }

}
</script>


<style lang="scss">

</style>
