<template>

  <div>

    <div class="row header">
      <div class="col-10 col-sm-8">
        <h3 class="mb-4">
          {{ $t('clients') }} / 
          <span v-if="(loadId == 0)">{{ $t('create')}}</span>
          <span v-else>{{ $t('update')}}</span>
        </h3>
      </div>
      <div class="col-2 col-sm-4 text-right">
        <router-link :to="{ name: 'clients' }">
          <h2>
            <BIconArrowLeftCircleFill variant="secondary"/>
          </h2>
        </router-link>
      </div>
    </div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <card>

        <b-form @submit="onSubmit" v-if="show" class="m-5">

          <b-form-group class="mb-4" :label="$t('client_name')">
            <b-form-input size="lg" v-model="form.name" required></b-form-input>
          </b-form-group>

          <div v-if="token_toggl" class="mb-4 pt-3"> 
            <div v-if="(toggl.length == 0)">
              <div class="spinner-border text-secondary" role="status"></div>
            </div>
            <div v-else>
              <h4 class="mb-2">{{ $t('integration_with_toggl') }} </h4>
              <div class="row">
                <div class="col-1 text-right pt-2">
                  <img src="/img/int/toggl_on.svg" class="w-100"/>
                </div>
                <div class="col-11 col-md-6">
                  <b-form-group class="mb-4" :label="$t('client_in_toggl')">
                    <b-form-select v-model="form.toggl_id" :options="toggl" value-field="id" text-field="name" size="lg"></b-form-select>
                  </b-form-group>
                </div>
                <div class="col-12 col-md-5">
                  <b-form-group class="mb-4" :label="$t('create_client_in_toggl')">
                    <b-button @click="createToggle()">{{ $t('create_client_in_toggl_btn') }}</b-button>
                  </b-form-group>
                </div>
              </div>
            </div>
          </div>

          <b-button type="submit" variant="primary">
            <span v-if="(loadId > 0)">{{ $t('update') }}</span>
            <span v-else>{{ $t('create') }}</span>
          </b-button>

        </b-form>
              
      </card>

    </div>

  </div>

</template>

<script>
export default {
  middleware: 'auth',

  data: () => ({
    loaded: false,
    loadId: 0,
    toggl: [],
    togglSelect: [],
    form: {
      name: '',
      toggl_id: null,
    },
    client: [],
    show: true,
  }),

  computed: {
    token_toggl () {
      return this.$store.state.auth.user.token_toggl
    }
  },

  mounted () {

    if (this.$route.params.id) this.loadId = this.$route.params.id;

    var that = this
    axios
    .all([
      axios.post(['/api/client/raw'], {id:that.loadId}),
      ])
        .then(
        axios.spread(
          function (client) {
            that.client = client.data.data
            if (that.loadId > 0) that.loadClientdata()
            that.loaded = true
            if (that.token_toggl) that.loadToggl()            
          }
    ))    

  },  

  methods: {

    loadClientdata() {
      this.form.id = this.client.id
      this.form.name = this.client.name
      this.form.toggl_id = this.client.toggl_id
    },

    loadToggl() {
      var that = this
      axios
      .all([
        axios.get('/api/int/toggl/time-entries'),
        ])
          .then(
          axios.spread(
            function (toggl) {
              that.loaded = true
              that.toggl = toggl.data
            }
      ))
    },

    createToggle() {

      var that = this

      axios
      .all([
        axios.post(['/api/int/toggl/clients/create'], this.form),
        ])
          .then(
          axios.spread(
            function (client) {
              that.form.toggl_id = client.data.data.id
              that.loadToggl()
            }
        ))
    },

    onSubmit(evt) {
      evt.preventDefault()

      // Update
      if (this.loadId > 0) {

        axios.put(['/api/clients/'+this.loadId], this.form).then(response => {
          this.$router.push({ name: 'clients' })
        }).catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
            $.each(this.errors, function (key, value) {
            });
          }
        });

      // Create
      } else {

        axios.post(['/api/clients'], this.form).then(response => {
            this.$router.push({ name: 'clients' })
        }).catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
            $.each(this.errors, function (key, value) {
            });
          }
        });
    
      }

    },

    loadToggl() {
      this.loaded = false
      var that = this
      axios
      .all([
        axios.get('/api/int/toggl/clients'),
        ])
          .then(
          axios.spread(
            function (toggl) {
              that.loaded = true
              that.toggl = toggl.data
            }
      ))
    },

    
  }

}
</script>


<style lang="scss">

</style>
