<template>

  <div class="text-center mt-5 mb-5">

    <h4>{{ $t('onboarding_no_clients') }}</h4>
    <p>{{ $t('onboarding_no_clients_text') }}</p>
    <p><img src="/img/vector/clients.jpg"/></p>

    <router-link :to="{ name: 'client.add' }">
      <b-button variant="success">
        {{ $t('onboarding_no_clients_add') }}
      </b-button>
    </router-link>

  </div>
  
</template>