<template>

  <div class="text-center mt-5 mb-5">

    <h4>{{ $t('no_proposals_yet') }}</h4>
    <p><img src="/img/vector/proposal.svg" class="img-no-tasks"/></p>

    <router-link :to="{ name: 'proposal.add' }">
      <b-button variant="success">
        {{ $t('no_proposals_yet_2') }}
      </b-button>
    </router-link>

  </div>
  
</template>

<style lang="scss">
.img-no-tasks {
  max-width: 400px;
  margin: 3em;
}
</style>
