<template>

  <div>

    <div class="row header">
      <div class="col-8 col-sm-8 align-middle mb-3">
        <h3 class="m-0 ml-2">{{ $t('proposals') }}</h3>
      </div>
      <div class="col-4 col-sm-4 text-right menu-upright">

        <router-link :to="{ name: 'proposal.add' }">
          <img src="/img/ico-add.svg"/>
        </router-link>

      </div>
    </div>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <card id="proposals-list">

        <div v-if="(items.length == 0)">
          <NoProposals/>
        </div>

        <div v-else>

          <div class="row slot-proposal" v-for="(item, index) in items" :index="parseInt(index)" :key="parseInt(index)" :value="item">

            <div class="col-4 col-md-3">
              {{ item.date }} /
              <router-link :to="{ name: 'proposal.edit', params: { id: item.id } }">
                <strong>{{ item.reference }}</strong>
              </router-link>
            </div>

            <div class="col-8 col-md-4">
              <a :href="item.url" target="_blank">
                <BIconLink45deg/>
                <strong>{{ item.name }}</strong>
              </a>
            </div>

            <div class="col-8 col-md-3">
              {{ item.client }}
            </div>

            <div class="col-4 col-md-2 text-right flex-icons">
              <div class="price" v-b-tooltip.hover :title="$t('total')">{{ item.total }}</div>
              <router-link :to="{ name: 'proposal.edit', params: { id: item.id } }" class="ml-3">
                <BIconPencilSquare variant="secondary"/>
              </router-link>
            </div>

          </div>

        </div>

      </card>

    </div>

  </div>

</template>

<script>
import NoProposals from './NoProposals.vue';

export default {
  middleware: 'auth',

  components: {
    NoProposals,
  },

  data: () => ({
    loaded: false,
    proposals: Array,
    items: Array,
  }),

  mounted () {
    this.loadProjects()
  },  

  methods: {

    loadProjects() {
      var that = this
      axios
      .all([
        axios.get('/api/fetch/proposals'),
        ])
          .then(
          axios.spread(
            function (proposals) {
              that.loaded = true
              that.proposals = proposals.data.data
              that.initialize()
            }
      ))
    },

    initialize() {
      this.items = Object.values(this.proposals)
    },

  }

}
</script>


<style lang="scss">
#proposals-list {

  .slot-proposal {
    margin-bottom: 1em;
  }

  .flex-icons {
    display: flex;
    justify-content: flex-end;
  }
}
</style>
