<template>

    <div v-if="!loaded">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>

    <div v-else>

      <div class="row header">
        <div class="col-10 col-sm-8">
          <h3 class="mb-4">
            {{ $t('proposals') }} /
            <span v-if="(loadId == 0)">{{ $t('create')}}</span>
            <span v-else>{{ $t('update')}}</span>
          </h3>
        </div>
        <div class="col-2 col-sm-4 text-right">
          <router-link :to="{ name: 'proposals' }">
            <h2>
              <BIconArrowLeftCircleFill variant="secondary"/>
            </h2>
          </router-link>
        </div>
      </div>

      <card>

        <div v-if="(Object.values(clients).length == 0)">

          <div class="text-center mt-5 mb-5">

            <h4>{{ $t('onboarding_no_clients') }}</h4>
            <p>{{ $t('onboarding_no_clients_text') }}</p>
            <p><img src="/img/vector/clients.jpg"/></p>

            <router-link :to="{ name: 'client.add' }">
              <button class="btn btn-primary">
                {{ $t('onboarding_no_clients_add') }}
              </button>
            </router-link>

          </div>

        </div>

        <div v-else>

          <b-form @submit="onSubmit" v-if="show" class="m-5">

            <div id="proposal">

              <div class="row mb-5">
                <div class="col-12">
                  <p>{{ $t('proposal_name') }}</p>
                  <b-form-input size="lg" v-model="item.name" required :placeholder="$t('proposal_name')"></b-form-input>
                </div>
              </div>

              <div class="row mb-5">

                <div class="col-12 col-lg-6">
                  <p>{{ $t('client') }}</p>
                  <b-form-select size="lg" v-model="item.client_id" :options="clients" required :placeholder="$t('client')"></b-form-select>
                </div>

                <div class="col-6 col-lg-3">
                  <p>{{ $t('proposal_reference') }}</p>
                  <b-form-input size="lg" v-model="item.reference" required :placeholder="$t('proposal_reference')"></b-form-input>
                </div>

                <div class="col-6 col-lg-3">
                  <p>{{ $t('date') }}</p>
                  <date-picker v-model="item.date" required type="date" format="YYYY-MM-DD"></date-picker>
                </div>

              </div>

              <div class="row mb-5">
                <div class="col-12">
                  <p>{{ $t('project_desc') }}:</p>
                  <vue-editor v-model="item.desc" id="editor" :editorToolbar="customToolbar" :placeholder="$t('project_desc')" class="w-100"> </vue-editor>
                </div>
              </div>

              <div class="row">
                <div class="col-9">
                  <p>{{ $t('project_concepts') }}:</p>
                </div>
                <div class="col-3 text-right">
                  <img src="/img/ico-add.svg" class="pointer" @click="addPhase()"/>
                </div>
              </div>

              <b-alert :show="(item.concepts.length == 0)">
                {{ $t('add_your_first_concept') }}
              </b-alert>

              <div class="slot-concept-editor" v-for="(slot, index) in item.concepts" :index="parseInt(index)" :key="parseInt(index)" :value="slot">

                <div class="row">

                  <div class="col-4">

                    <p>{{ $t('proposal_concept_name') }}</p>
                    <b-form-input class="mb-4" size="lg" v-model="slot.name" required :placeholder="$t('proposal_concept_name')"></b-form-input>

                    <p>{{ $t('proposal_price') }}</p>
                    <b-form-input class="mb-4" v-model="slot.price" required :placeholder="$t('proposal_price')"></b-form-input>

                    <p>{{ $t('finish_date') }}</p>
                    <date-picker v-model="slot.finish_date" required type="slot.finish_date" format="YYYY-MM-DD"></date-picker>

                  </div>

                  <div class="col-8 text-right">

                    <p>{{ $t('desc') }}:</p>
                    <vue-editor v-model="slot.desc" id="editor" :editorToolbar="customToolbar" :placeholder="$t('desc')" class="w-100 mb-4" rows="15"> </vue-editor>

                    <b-button variant="outline-danger" @click="removePhase(index)">
                      {{ $t('delete_concept') }}
                    </b-button>

                  </div>

                </div>

              </div>

              <div class="row mb-5">
                <div class="col-12">
                  <p>{{ $t('project_terms') }}:</p>
                  <vue-editor v-model="item.terms" id="editor" :editorToolbar="customToolbar" :placeholder="$t('project_terms')" class="w-100"> </vue-editor>
                </div>
              </div>

            </div>

            <div class="row pt-5">
              <div class="col-12 col-lg-8">
                <b-form-group class="mb-4" :label="$t('language')">
                  <b-form-select size="lg" v-model="item.language_id" :options="langs" value-field="id" text-field="name" required></b-form-select>
                </b-form-group>
              </div>
              <div class="col-12 col-lg-4 text-right">
                <br/>
                <b-button type="submit" variant="success" size="lg">
                  <span v-if="(loadId > 0)">{{ $t('update') }}</span>
                  <span v-else>{{ $t('create') }}</span>
                </b-button>
              </div>
            </div>

          </b-form>

        </div>

      </card>

    </div>

  </div>

</template>

<script>
import { mapGetters } from 'vuex'
import { VueEditor } from "vue2-editor";

export default {
  middleware: 'auth',

  components: {
    VueEditor,
  },

  data: () => ({
    loaded: false,
    loadId: 0,
    show: true,
    item: [],
    langs: [],
    clients: [],
    customToolbar: [["bold", "italic", "underline"], [{ list: "ordered" }, { list: "bullet" }], ["link"]],
  }),

  computed: mapGetters({
    user: 'auth/user',
  }),

  mounted () {
    this.loadProposal()
  },

  methods: {

    loadProposal() {

      if (this.$route.params.id) this.loadId = this.$route.params.id;

      var that = this
      axios
      .all([
        axios.post(['/api/proposal/raw'], {id:that.loadId}),
        axios.get('/api/fetch/select/clients'),
        axios.get('/api/fetch/languages'),
        ])
          .then(
          axios.spread(
            function (proposal, clients, langs) {
              that.item = proposal.data.data
              that.clients = clients.data.data
              that.langs = langs.data.data
              //if (!that.item.concepts) that.item.concepts = []
              that.loaded = true
            }
      ))

    },

    onSubmit(evt) {
      evt.preventDefault()

      // Update
      if (this.loadId > 0) {

        axios.put(['/api/proposals/'+this.loadId], this.item).then(response => {
          this.$router.push({ name: 'proposals' })
        }).catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
            $.each(this.errors, function (key, value) {
            });
          }
        });

      // Create
      } else {

        axios.post('/api/proposals', this.item).then(response => {
          this.$router.push({ name: 'proposals' })
        }).catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
            $.each(this.errors, function (key, value) {
            });
          }
        });

      }

    },


    addPhase() {

      var today = new Date();
      var newEmptyPhase = {
        name: null,
        finish_date: today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate(),
        price: 0,
        desc: null
      };

      this.item.concepts.push(newEmptyPhase);

      this.$bvToast.toast(`Concept successfully added after the last one`, {
        variant: 'success',
        noCloseButton: true,
        autoHideDelay: 1500,
      })

    },

    removePhase(index) {
      this.$bvModal.msgBoxConfirm('¿Seguro que deseas eliminar este concepto?')
        .then(value => {
          if (value) this.item.concepts.splice(index, 1);
        })
        .catch(err => {
          // An error occurred
        })
    },


    setImage(file) {
      this.form.hasImage = true
      this.form.image = file

      axios.post('/api/project/image', this.form).then(response => {
        this.$router.push({ name: 'projects' })
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
          $.each(this.errors, function (key, value) {
          });
        }
      });

    },

    startImageResize(file) {
    },

    endImageResize(file) {
    },

  },

}
</script>


<style lang="scss">
.slot-concept-editor {
  background: #fafafa;
  margin-bottom: 4em;
  padding: 2em;
}
</style>
